/* This removes padding & margin from every container */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

/* text styles */
@font-face {
  font-family: poppins-bold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../../assets/fonts/Rubik-VariableFont_wght.ttf);
}
/* DO NOT REMOVE THE CODE ABOVE */

/* /-----------------------SIDE BAR -------------------------/ */
:root {
  /* General */
  --svg-color: #a9a9a9;
  /* light mode */
  --lm-sidebar-bg-color: #22074a;
  --lm-active-menu-bg-color: #ffffff;
  --lm-active-menu: rgba(34, 32, 32, 0.9);

  /* dark mode */
  --dm-sidebar-bg-color: #1f201f;
  --dm-active-menu: #fffcfc;
  --dm-active-menu-bg-color: #373737;
}

/*/------------------- GENERAL CSS FOR SIDEBAR -------------------/*/
.body {
  height: 100vh;
  overflow: hidden;
}

.light-body {
  background-color: #dad9d9;
}

.dark-body {
  background-color: #272727;
}

.message {
  display: flex;
}

.sidebar-nav {
  width: 20vw;
  min-width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 4vh 0 0 0;
}

.nav-link-container {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  width: 75%;
  margin: auto;
}

.nav-link-container a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 19px;
  border-radius: 12px;
  transition: all 0.2s ease;
}

header {
  margin: auto;
}

.prof-pic {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.menu-link {
  padding: 1.7vh 1vw;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

svg {
  color: var(--svg-color);
}

/*/-------------------LIGHT MODE CSS FOR SIDEBAR  -------------------/*/

.light-sidebar-nav {
  background-color: var(--lm-sidebar-bg-color);
}

.light-nav-link-container a:hover {
  background-color: var(--lm-active-menu-bg-color);
  color: var(--lm-active-menu);
  border-radius: 12px;
  padding: 1.7vh 1vw;
}

.light-nav-link-container a:hover svg {
  color: var(--lm-active-menu);
}

a.light-active-menu {
  background-color: var(--lm-active-menu-bg-color);
  padding: 1.7vh 1vw;
}

a.light-active-menu svg {
  color: var(--lm-active-menu);
}

/*/-------------------DARK MODE CSS FOR SIDEBAR  -------------------/*/

.dark-sidebar-nav {
  background-color: var(--dm-sidebar-bg-color);
  background-image: url("../../../assets/icons/worldwide-location.svg"),
    url("../../../assets/icons/chat-room.svg"),
    url("../../../assets/icons/worldwide-location.svg"),
    url("../../../assets/icons/video-conference.svg"),
    url("../../../assets/icons/chat-room.svg"),
    url("../../../assets/icons/video-conference.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-position: top 56px right 92px, top 198px right 18px,
    top 395px right 250px, top 450px right 18px, top 547px right 160px,
    top 789px right 231px;
}

.dark-nav-link-container a:hover {
  color: var(--dm-active-menu);
  background-color: var(--dm-active-menu-bg-color);
  border-radius: 12px;
  padding: 1.7vh 1vw;
}

.dark-nav-link-container a:hover svg {
  color: var(--dm-active-menu);
}

a.dark-active-menu {
  background-color: var(--dm-active-menu-bg-color);
  border-radius: 12px;
}

a.dark-active-menu svg {
  color: var(--dm-active-menu);
}

/* ------------------------------------texts styes --------------------------- */
/* NAVBAR */
.light-nav-texts {
  color: rgba(169, 169, 169, 0.9);
  font-family: poppins-regular;
}
.dark-nav-texts {
  color: #a9a9a9;
  font-family: Rubik;
}

.nav-texts-active {
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
}

.dark-nav-texts-active {
  color: #fffcfc;
}
.light-nav-texts-active {
  color: rgba(34, 32, 32, 0.9);
}

/*-----------------MAIN BODY FOR MESSAGING--------------*/

main {
  width: 80%;
}

.mainbody {
  display: flex;
  height: 100vh;
}

.light-mainbody {
  padding: 12px 0 0 11px;
}

.dark-mainbody {
  padding: 2px 0 20px 11px;
}

.mainbody-left-side {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 23px 0 10px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 160px;
}

.light-mainbody-left-side {
  width: 35%;
  height: 97vh;
  border: 1px solid #979797;
  background: #f4f1f8;
}

.dark-mainbody-left-side {
  width: 35%;
  height: 99.5vh;
  border: 1px solid #979797;
  background: #222020;
}

.left-side-div1 {
  margin-left: auto;
  width: fit-content;
}

.search-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left-side-div1-left,
.left-side-div1-left-bottom {
  display: flex;
  width: 100%;
}

.left-side-div1-left {
  flex-direction: column;
  gap: 7px;
  padding: 0 12.5px 0 12.5px;
}

.left-side-div1-left-bottom {
  justify-content: space-between;
}

.new-message-btn {
  display: flex;
  align-items: center;
  gap: 1vw;
  padding: 1.5vh 2vw;
  border-radius: 4px;
  margin-right: 0.5vw;
  background: #1058e8;
  border: none;
  text-decoration: none;
  color: #fff;
  font-family: Poppins-regular;
  font-size: 0.9rem;
  font-weight: 500;
}

.left-side-div1-right {
  cursor: pointer;
  background: none;
  border: none;
}

.left-side-div2 {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.left-side-div2-top {
  display: flex;
  gap: 0.5vw;
  padding-left: 0.5vw;
  padding-bottom: 1.5vh;
}

.left-side-div2-top a {
  text-decoration: none;
}

.all-btn,
.followers-btn,
.fans-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  color: #545454;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}

.all-btn {
  padding: 0.8vh 1vw;
  background: #c7c7f9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.followers-btn {
  padding: 0.8vh 1vw;
  background: #f1f1f1;
}

.fans-btn {
  padding: 0.8vh 1vw;
  background: #f1f1f1;
}

.chat-list {
  height: 57.9vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.left-side-div2-bottom {
  display: flex;
  flex-direction: column;
}

.user-div {
  display: flex;
  gap: 1vw;
  padding: 4vh 1vw;
  border-bottom: 2px solid #979797;
}

.user-details-div1 {
  height: 49px;
  width: 45px;
  border-radius: 100%;
}

.user-details {
  width: 100%;
  display: flex;
  gap: 1vw;
  justify-content: space-between;
}

#blue-text {
  color: #0272bc;
}

.user-details-div2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.active-dark {
  background: #494848;
}

.active-light svg {
  fill: #222020e5;
  cursor: pointer;
}

.active-dark svg {
  fill: #f1e9e9e5;
  cursor: pointer;
}

.inactive {
  color: #979797;
}

.inactive svg {
  fill: #a9a9a9;
  cursor: pointer;
}

.bookmark {
  margin-left: auto;
}

.mainbody-right-side {
  width: 100%;
  display: flex;
  padding: 3vh 0;
  flex-direction: column;
}

.right-side-div1 {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.right-side-div1-left {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.chat-header {
  display: flex;
  width: 100%;
  padding: 0 1vw;
}

.user-details-div {
  height: fit-content;
  display: flex;
  gap: 10px;
  padding-bottom: 24px;
}

.right-side-div2-wrapper {
  overflow-y: scroll;
  height: 67vh;
}

.right-side-div2 {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  padding: 0 2vw;
}

.time-tick-wrapper {
  display: flex;
  gap: 0.7vw;
  width: fit-content;
  margin-left: auto;
}

.sender-message,
.receiver-message {
  min-width: 5vw;
  max-width: 25vw;
  padding: 1vh 1vw;
  color: #fff;
  font-weight: 300;
  font-family: poppins-medium;
  text-align: left;
}

.sender-message {
  height: auto;
  margin-left: auto;
  border-radius: 10px 0px 10px 10px;
  background: #390c7c;
}

.receiver-message {
  height: auto;
  margin-right: auto;
  border-radius: 0px 10px 10px 10px;
  background: rgba(88, 88, 88, 0.75);
}

.user-text-delivery-time {
  color: gold;
  text-align: right;
  font-size: 0.7rem;
  font-family: poppins-medium;
}

.receiver-message img {
  width: 100%;
}

.disappearing-message-warning-text {
  display: flex;
  width: fit-content;
  margin-left: auto;
  align-items: center;
}

.right-side-div3-wrapper {
  padding: 0 2vw;
}

.right-side-div3 {
  width: 100%;
  height: auto;
  padding: 1vh 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(34, 32, 32, 0.17);
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.right-side-div3-top {
  padding: 0 0.3vw;
  text-indent: -40px !important;
  font-family: poppins-regular;
  background-color: #f4f1f8;
  resize: none;
  border: none;
  outline: none;
  border-radius: 9px;
  margin: 0 0.8vw;
  align-items: center;
}

.right-side-div3-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 0;
}

.right-side-div3-bottom-icons {
  display: flex;
  gap: 2vw;
  padding-left: 18px;
  cursor: pointer;
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 2.5vw;
  border-radius: 4px;
  background: #1376e3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  margin-right: 12px;
  cursor: pointer;
}

/* ------------------------------------text ---------------------- */

.new-message-txt {
  font-family: Poppins-regular;
  font-size: 1.2rem;
  font-weight: 700;
}

.dark-new-message-txt {
  color: #0490ec;
}
.light-new-message-txt {
  color: #0272bc;
}

.friends-display-name-text {
  font-size: 0.9rem;
  font-weight: 600;
}

.dark-friends-display-name-text-active {
  color: #fffcfc;
  font-family: Poppins-regular;
}
.light-friends-display-name-text-active {
  color: rgba(34, 32, 32, 0.9);
  font-family: Poppins-regular;
}
.light-friends-display-name-text {
  color: #979797;
  font-family: Poppins-medium;
}

.write-message-txt {
  color: #fff;
  text-align: center;
  font-family: Rubik;
  font-size: 0.9rem;
  font-weight: 500;
}
.follower-btn-text {
  font-family: Rubik;
}

.message-text,
.dark-disappear-text,
.light-disappear-text,
.light-disappear-text span {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 20px;
}

.message-text {
  color: #979797;
  font-family: Poppins-medium;
}
.dark-disappear-text {
  color: #a9a9a9;
  font-family: Poppins-regular;
}
.light-disappear-text {
  color: #686868;
  font-family: Poppins-regular;
}
/* the below text has the same color in both mode */
.light-disappear-text span {
  font-family: Poppins-regular;
}

.textarea-text,
.light-textarea-text {
  font-family: Poppins-regular;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textarea-text {
  color: rgba(34, 32, 32, 0.9);
}

.light-textarea-text {
  color: #9a9a9a;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .section1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .mainbody-left-side {
    display: none;
  }

}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {

  html {
    font-size: 12px;
  }

  .user-details-div1 {
    height: 39px;
    width: 35px;
    border-radius: 100%;
  }

  .user-details-div1 img {
    height: 39px;
    width: 35px;
    border-radius: 100%;
  }

}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  html {
    font-size: 12px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
