/* This removes padding & margin from every container */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* text styles */
@font-face {
  font-family: poppins-bold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../../assets/fonts/Rubik-VariableFont_wght.ttf);
}

html {
  font-size: 16px;
}

/* DO NOT REMOVE THE CODE ABOVE */

body {
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.light-body {
  background-color: #dad9d9;
}
.dark-body {
  background-color: #222020;
}
.message {
  display: flex;
}

/*------------------FOR MAIN BODY----------------*/

::-webkit-scrollbar {
  overflow: hidden;
}

.mainbody {
  display: flex;
  height: 100vh;
  padding: 3vh 2vw;
  width: 100%;
}

.light-mainbody {
  background: #dad9d9;
}

.dark-mainbody {
  background-color: #222020;
}

.mainbody-container {
  display: flex;
  padding: 2vh 1.5vw;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 41px;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
}

.light-mainbody-container {
  background: #fff;
}

.dark-mainbody-container {
  width: 999px;
  height: 812px;
  background: #272727;
}

.section1 {
  display: flex;
  justify-content: space-between;
}

.section1-div1 {
  display: flex;
  align-items: center;
  gap: 26px;
}

.section1-div1 svg {
  cursor: pointer;
}

.write-message-btn {
  display: flex;
  padding: 2vh 1vw;
  gap: 1vw;
  border-radius: 4px;
  background: #1058e8;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: Rubik;
  align-items: center;
  justify-content: center;
}



.section2 button {
  border: none;
  background: #f1f1f1;
  cursor: pointer;
  border-radius: 60px;
}

#all-btn {
  width: 49px;
  height: 34px;
  flex-shrink: 0;
  background: #c7c7f9;
}

#followers-btn {
  width: 100px;
  height: 34px;
  flex-shrink: 0;
}

#fans-btn {
  display: flex;
  padding: 7px 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section3 {
  display: flex;
  align-items: center;
  gap: 18px;
}

#checkbox {
  width: 15.611px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid #979797;
  cursor: pointer;
}

.section4-wrapper {
  overflow-y: auto;
}

.section4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.user-profile {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 2vw;
  width: 100%;
  border-bottom: 1px solid #979797;
  text-decoration: none;
  color: #000;
}

.user-profile > img {
  width: 62.44px;
  height: 60px;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: radial-gradient(circle at -65% -65%, rgb(130, 6, 225), #22074a);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #14042c;
}

/**----------- text styles for mainbody --------------**/
.new-message-txt {
  font-family: Poppins-regular;
  font-size: 1.2rem;
  font-weight: 700;
}

.dark-new-message-txt {
  color: #0490ec;
}

.light-new-message-txt {
  color: #0272bc;
}

.write-message-btn {
  background: #1058e8;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  font-family: Rubik;
}

#all-btn,
#followers-btn,
#fans-btn {
  color: #545454;
  font-size: 1rem;
  font-weight: 400;
}

.follower-btn-text {
  font-family: Rubik;
}



.followers-display-name-text {
  font-family: Poppins-regular;
  font-size: 0.9rem;
  font-weight: 700;
}

.dark-followers-display-name-text {
  color: #fffcfc;
}

.light-followers-display-name-text {
  color: #494949;
}

.followers-user-id-text {
  font-family: Poppins-medium;
  font-size: 0.9rem;
  font-weight: 400;
}

.dark-followers-user-id-text {
  color: #979797;
}
.light-followers-user-id-text {
  color: #494949;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

/* Large devices (laptops/desktops, 1085px and down) */
@media only screen and (max-width: 1085px) {
  html {
    font-size: 12px;
  }
}

/* Large devices (laptops/desktops, 998px and down) */
@media only screen and (max-width: 998px) {
  html {
    font-size: 12px;
  }
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 11px;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
