/* This removes padding & margin from every container */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

/* text styles */
@font-face {
  font-family: poppins-bold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../../assets/fonts/Rubik-VariableFont_wght.ttf);
}
/* DO NOT REMOVE THE CODE ABOVE */

/* .body {
  height: 100vh;
  overflow: hidden;
} */



.message {
  display: flex;
}

/*-----------------MAIN BODY FOR MESSAGING--------------*/

main {
  width: 100%;
}

.mainbody {
  display: flex;
  width: 100%;
  margin-top: 38px;
  padding: 12px 0 0 11px;
}



.mainbody-left-side {
  width: 45%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0 0 2vh 0;
  margin-bottom: 1vh;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 160px;
  border: 1px solid #979797;
  user-select: none;
}


.left-side-div1-left {
  flex-direction: column;
  gap: 1.6vh;
  padding: 0 0.8vw;
}

.search-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border: 2px solid #979797;
  padding: 5px 8px;
  border-radius: 10px;
}

.search-div input {
  border: none;
  width: 100%;
  height: 30px;
  outline: none;
  font-size: 1rem;
  font-family: poppins-medium;
  background: inherit;
  color: #979797;
}


.left-side-div1-left,
.left-side-div1-left-bottom {
  display: flex;
}

.left-side-div1-left-bottom {
  justify-content: space-between;
}

.new-message-btn {
  display: flex;
  align-items: center;
  gap: 1.2vw;
  padding: 1.5vh 1vw;
  border-radius: 4px;
  background: #1058e8;
  border: none;
  text-decoration: none;
}

.section3 {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 0 0.8vw;
  margin-top: 20px;
  margin-bottom: -30px;
}

.left-side-div2 {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.left-side-div2-top {
  display: inline-flex;
  gap: 0.5vw;
  padding-left: 0.5vw;
  margin-bottom: 1.5vh;
}

.left-side-div2-top a {
  text-decoration: none;
}

.all-btn,
.followers-btn,
.fans-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  color: #545454;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}

.all-btn {
  padding: 0.8vh 1vw;
  background: #c7c7f9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.followers-btn {
  padding: 0.8vh 1vw;
  background: #f1f1f1;
}

.fans-btn {
  padding: 0.8vh 1vw;
  background: #f1f1f1;
}

.chat-list {
  height: 60vh;
  overflow-y: auto;
}

/*             scrollbar                */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: radial-gradient(circle at -65% -65%, rgb(130, 6, 225), #22074a);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #14042c;
}

.left-side-div2-bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.user-div {
  display: flex;
  gap: 1vw;
  padding: 1vh 0.5vw 1vh 1vw;
}

.user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-details-div1 {
  height: 49px;
  width: 45px;
  border-radius: 100%;
}
.user-details section {
  display: flex;
  align-items: center;
  gap: 1px;
}

#blue-text {
  color: #0272bc;
}

.user-details-div2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-details-div2 div {
  display: flex;
  align-items: center;
  gap: 2px
}

.active-dark {
  background: #494848;
}



.inactive {
  color: #979797;
}

.inactive svg {
  fill: #a9a9a9;
  cursor: pointer;
}

.bookmark {
  margin-left: auto;
  margin-top: -6px;
}

.mainbody-right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.right-side-div1 {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.right-side-div1-left {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1vw;
  user-select: none;
}



.user-details-div {
  height: fit-content;
  display: flex;
  gap: 10px;
  padding-bottom: 24px;
}

.right-side-div2-wrapper {
  overflow-y: scroll;
  height: 58vh;
}

.right-side-div2 {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  padding: 0 2vw;
}

.time-tick-wrapper {
  display: flex;
  gap: 0.7vw;
  width: fit-content;
  margin-left: auto;
  user-select: none;
}

.sender-message,
.receiver-message {
  min-width: 5vw;
  max-width: 25vw;
  padding: 1vh 1vw;
  color: #fff;
  font-weight: 300;
  font-family: poppins-medium;
  text-align: left;
}

.sender-message {
  height: auto;
  margin-left: auto;
  border-radius: 10px 0px 10px 10px;
  background: #390c7c;
}

.receiver-message {
  height: auto;
  margin-right: auto;
  border-radius: 0px 10px 10px 10px;
  background: rgba(88, 88, 88, 0.75);
}

.user-text-delivery-time {
  color: gold;
  text-align: right;
  font-size: 0.7rem;
  font-family: poppins-medium;
  user-select: none;
}

.receiver-message img {
  width: 100%;
  user-select: none;
}

.disappearing-message-warning-text {
  display: flex;
  width: fit-content;
  margin-left: auto;
  align-items: center;
  user-select: none;
}

.right-side-div3-wrapper {
  padding: 0 2vw;
}

.right-side-div3 {
  width: 100%;
  height: auto;
  padding: 1vh 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(34, 32, 32, 0.17);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.right-side-div3-top {
  padding: 0 0.3vw;
  text-indent: -40px !important;
  font-family: poppins-regular;
  background-color: #f4f1f8;
  resize: none;
  border: none;
  outline: none;
  border-radius: 9px;
  margin: 0 0.8vw;
  align-items: center;
}

.right-side-div3-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 0;
}

.right-side-div3-bottom-icons {
  display: flex;
  gap: 2vw;
  padding-left: 18px;
  cursor: pointer;
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 2.5vw;
  border-radius: 4px;
  background: #1376e3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  margin-right: 12px;
  cursor: pointer;
  user-select: none;
}

/* ------------------------------------text ---------------------- */

.new-message-txt {
  font-family: Poppins-regular;
  font-size: 1.2rem;
  font-weight: 700;
}

.select-all-txt {
  font-family: Rubik;
  font-size: 0.9rem;
  font-weight: 500;
}

.friends-display-name-text,
.friends-display-name-text-active
{
  font-size: 0.8rem;
  font-weight: 600;
  font-family: Poppins-regular;
}




.write-message-txt {
  color: #fff;
  text-align: center;
  font-family: Rubik;
  font-size: 0.9rem;
  font-weight: 500;
}

.follower-btn-text {
  font-family: Rubik;
}

.message-text,
.date-text,
.dark-disappear-text,
.disappear-text,
.disappear-text span {
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 20px;
  
}
.date-text,
.disappear-text
{
  color: #979797;
  font-family: Poppins-medium;
}

.message-text {
  color: #979797;
  font-family: Poppins-medium;
  /* width: 150px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* .light-disappear-text {
  color: #686868;
  font-family: Poppins-regular;
} */

.disappear-text span {
  font-family: Poppins-regular;
}

.textarea-text {
  font-family: Poppins-regular;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


@media (prefers-color-scheme: dark) {
  .body {
    background-color: #272727;
  }

  .mainbody {
    /* padding: 2px 0 20px 11px; */
    background-color: #2A282D;
  }

  .new-message-txt {
    color: #0490ec;
  }
  
  .select-all-txt {
    color: #0490ec;
  }
  
  .active .bookmark {
    fill: #f1e9e9e5;
    cursor: pointer;
  }

  .friends-display-name-text-active {
    color: #fffcfc;
  }



  .disappear-text {
    color: #a9a9a9;
  }

  .textarea-text {
    color: rgba(34, 32, 32, 0.9);
  }

  .mainbody-left-side {
    background: #222020;
  }

  .right-side-div3 {
    background: #cecccc;
  }
  
  
}

@media (prefers-color-scheme: light) { 

  .body {
    background-color: #dad9d9;
  }
  
  
  .mainbody {
    background: #dad9d9;;
    

  }

  .mainbody-left-side {
    background: #f4f1f8;
  }
  
  
  .new-message-txt {
    color: #0272bc;
  }

  .select-all-txt {
    color: #150aa1;
  }

  .active .bookmark {
    fill: #222020e5;
    cursor: pointer;
  }
  
  .friends-display-name-text-active {
    color: rgba(34, 32, 32, 0.9);
  
  }
  .friends-display-name-text {
    color: #979797;
  }

  .disappear-text{
    color: #979797;
    font-family: Poppins-medium;
  }

  .textarea-text {
    color: rgba(34, 32, 32, 0.9);
  }
  
  .textarea-text {
    color: #9a9a9a;
  }

  .right-side-div3 {
    background: #fff;
  }

}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}
/* Large devices (laptops/desktops, 1085px and down) */
@media only screen and (max-width: 1085px) { 
  .user-details {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  html {
    font-size: 12px;
  }

  

}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }


  .user-details-div1 {
    height: 39px;
    width: 35px;
    border-radius: 100%;
  }

  .user-details-div1 img {
    height: 39px;
    width: 35px;
    border-radius: 100%;
  }

  .mainbody-left-side {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  
}
