/*---------------LOG IN BUTTON FOR BOTH LIGHT AND DARK MODE--------------*/
.login-btn{
  border: none;
  width: 393px;
  height: 48px;
  border-radius: 10px;
  padding: 12px 21px;
  gap: 10px;
  background-color: #1058E8;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}


/*----------------RECOVER PASSWORD BUTTON FOR LIGHT MODE-------------*/
.light-recover-password-btn{
  border: none;
  width: 388px;
  height: 48px;
  border-radius: 18px;
  padding: 12px 14px;
  gap: 10px;
  background-color: #1058E8;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}

/*----------------RECOVER PASSWORD BUTTON FOR DARK MODE-------------*/
.dark-recover-password-btn{
  border: none;
  width: 177px;
  height: 48px;
  border-radius: 18px;
  padding: 12px 14px;
  gap: 10px;
  background-color: #1058E8;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}

/*------------------RESET PASSWORD BUTTON FOR BOTH LIGHT AND DARK MODE------------------*/
.reset-password-btn{
  border: none;
  width: 402px;
  height: 50px;
  border-radius: 18px;
  padding: 12px 14px;
  gap: 10px;
  background-color: #1058E8;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}

/*--------------------SIGN UP BUTTON FOR BOTH LIGHT AND DARK MODE--------------------*/
.signup-btn{
  border: none;
  width: 393px;
  height: 48px;
  border-radius: 18px;
  padding: 12px 13px;
  gap: 10px;
  background-color: #1058E8;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
}

/*--------------------SAVE BUTTON FOR BOTH LIGHT AND DARK MODE--------------------*/
.save-btn{
  border: none;
  width: 133.51px;
  height: 41.81;
  border-radius: 4px;
  padding: 17.39px 22.2px;
  background-color: #1058E8;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
}

/* text styles */ 

@font-face {
  font-family: poppins-bold;
  src: url(/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(/fonts/Poppins-Regular.ttf);
} 
@font-face {
  font-family: poppins-medium;
  src: url(/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(/fonts/Rubik-VariableFont_wght.ttf);
} 
body {
  background: #7B7B7B ;
} 


/* home page */

.share {
  color: #fff;
  text-align: center;
  font-family: Poppins-bold;
  font-size: 50px;
  font-weight: 800;
 
}
.share > span {
  color: #6F3FE3;
}
.share-subtitle {
  color: #E4EDF6;
  text-align: center;
  font-family: Poppins-regular;
  font-size: 18px;
  font-weight: 500;
}
/* has same color as the light mode */

/* my profile */
.cover-photo-text {
  color: #585858;
  text-align: center;
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}
.light-cover-photo-text-mode {
  color: #0272BC;
  text-align: center;
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}


.display-name-text {
  color: #150AA1;
  font-family: Poppins-regular;
  font-size: 20px;
  font-weight: 700;
}
.user-id-text {
  color: #686868;
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}
.bio-text {
  color: #FFFCFC;
  font-family: poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
.light-bio-text-mode { 
  color: #0272BC;
  font-family: poppins-regular;
  font-size: 16px;
  font-weight: 700;
}

.bio-input-text {
  color: #9A9A9A;
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}
/* reuseable at message interface(send button) */
.save-btn-text {
  color: #FFF;
  text-align: center;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 500;
}
.change-label-text {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
.light-change-label-text-mode {
  color: #0272BC;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}

.change-input-text {
  color: #9A9A9A;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.change-input-btn-text {
  color: #fff;
  text-align: center;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
}
.url-input-text {
  color: #A9A9A9;
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}
.light-url-input-text-mode {
  color: rgba(34, 32, 32, 0.90);
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}


.share-btn-text {
  color: #FFF;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px; 
}
.profile-show-text {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
.light-profile-show-mode { 
  color: #0272BC;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
 }

.delete-text {
  color: #F52A1D;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
.delete-btn-text {
  color: #F52A1D;
  text-align: center;
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}
.footer-texts {
  color: #000000;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; 
}
.footer-share-text {
  color: #0021f5;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

/* profile side nav styles */
.nav-texts {
  color: #A9A9A9;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
}
.nav-text-active {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
.light-nav-text-active-mode {
  color: rgba(34, 32, 32, 0.90);
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
   ;}

/* message-1 styles */
.new-message-txt {
  color: #0490EC;
  font-family: Poppins-regular;
  font-size: 20px;
  font-weight: 700;
}
.light-new-message-mode {
  color: #0272BC;
  font-family: Poppins-regular;
  font-size: 20px;
  font-weight: 700;
}

.write-message-txt {
  color: #FFF;
  text-align: center;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
}
/* also used by calls and fans buttons*/
.follower-btn-text {
  color: #545454;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
}
.select-all {
  color: #0490EC;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
}
.light-select-all-mode {
  color: #150AA1;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
}


.followers-display-name-text {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 700;
}
.light-followers-display-name-text-mode {
  color: #494949;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 700;
}


.followers-user-id-text {
  color: #979797;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.light-followers-user-id-text-mood {
  color: #494949;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}

/* message interface styles */
.friends-display-name-text-active {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 600;
}
.light-friends-display-name-text-active-mode {
  color: rgba(34, 32, 32, 0.90);
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 600;
}

/* also works for date */
.message-text-active {
  color: #FFFCFC;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.light-message-text-active-mode {
  color: #686868;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.message-text-active > span {
  color: #0272BC;
}
.friends-display-name-text {
  color: #979797;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 600;

}
/* also works for date text*/
.friend-message-text {
  color: #979797;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.disappear-text {
  color: #A9A9A9;
  text-align: right;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; 
}
.light-disappear-text-mode {
  color: #686868;
  text-align: right;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; 
}

.textarea-text {
  color: rgba(34, 32, 32, 0.90);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.light-textarea-text-mode {
  color: #9A9A9A;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* profile notification */

/* can be reused at (notificaton) && (mesaage and chat setting) && (contacts) && (calling)
&& (setting)*/
.menu-title-texts {
  color: #0389E1;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 600;
}
.light-menu-title-texts-mode {
  color: #150AA1;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 600;
}

.menu-subtitle-texts {
  color: #FFFCFC;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.light-menu-subtitle-texts-mode {
  color: #373737;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}

/* mesage chat page  uses menu-title-texts and menu-subtitle-texts */

/* contact styles 
contact title uses (menu-title-texts)
*/

.contact-subtitle-texts {
  color: #FFFCFC;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.light-contact-subtitle-texts-mode {
  color: #000;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}

/* calling styles 
calling title uses (menu-title-texts)
*/
.call-subtitle-texts {
  color: #FFFCFC;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.light-call-subtitle-texts-mode {
  color: #000;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}

.call-window-text {
  color: #7B7B7B;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.light-call-window-text-mode {
  color: #373737;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}

/* reused at (calling{disable and never text}) && (privacy)*/
.menu-toggle-texts {
  color: #979797;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
/* setting styles 
setting title text uses (menu-title-texts) */
.setting-subtitle-texts{
  color: #FFFCFC;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}

.light-setting-subtitle-text-mode {
  color: #000;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}


.change-background-text {
  color: #E4E4E4;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
}
.audio-subtitle-text {
  color: #A9A9A9;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.light-audio-subtitle-text-mode {
  color: #373737;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}

.audio-default-setting-text {
  color: #585858;
  font-family:  Poppins-regular;
  font-size: 14px;
  font-weight: 400;
}
/* privacy styles
privacy title uses (menu-title-texts) && (menu-toggle-txt)
*/

.privacy-subtitle-text {
  color: #FFF;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
}
.light-privacy-subtitle-text-mode {
  color: #373737;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
}
/* preview styles 
preview title uses (menu-title-texts)
*/
.preview-chat-text {
  color: #000;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.preview-subtitle-texts {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 400;
}
.light-preview-subtitle-texts-mode {
  color: #000;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 400;
}


/* login styles */

/* use also in signup page (signup text)
Login uses (login-text)
Forgot Password? uses (login-text)
Reset your password uses (login-text)
*/
.login-text {
  color: #048AD7;
  text-align: center;
  font-family: Poppins-bold;
  font-size: 26px;
  font-weight: 700;
}
.login-text-light-mode {
  color: #0272BC;
  text-align: center;
  font-family: Poppins-bold;
  font-size: 26px;
  font-weight: 700;
}

/* used by email and password input labels */
.login-title-texts {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
.light-login-title-texts-mode {
  color: #585858;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}

.login-subtitle-texts {
  color: #FFF;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.light-login-subtitle-texts-mode {color: #585858;}

.login-subtitle-texts > span {
  color: #048AD7;
  font-weight: 600;
}
.light-login-subtitle-texts-mode > span {
  color: #150AA1;
  font-weight: 600;
}

.login-forget-password-text {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.light-login-forget-password-text-mode {
  color: #7B7B7B;
  font-family: Poppins-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  }

/* use also in sign up page */
.login-option {
  color: #7B7B7B;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;

}
.login-option > span {
  color: #595959;
  font-size: 16px;
  font-weight: 500;
}
.logUp-btn-texts {
  color: #7B7B7B;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}

/* forget-password-page
forgetten password title uses (login-text)
*/
.recover-password-texts {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
}
.light-recover-password-texts-mode {
  color: rgba(34, 32, 32, 0.90);
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
}

.password-btn-text {
  color: #FFF;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 600;
}

/* reset password page
reset your password uses (login-text)
HI USER ..... uses (recover-password-texts)
reset password button text uses (.password-btn-text)
*/
.reset-password-subtitle-texts {
  color: rgba(255, 252, 252, 0.90);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}
/* use also in signup page (input labels text) */
.password-input-text {
  color: #A9A9A9;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}

/* landing page text styles */

.new-user {
  color: #FFF;
  font-family: Poppins-bold;
  font-size: 20px;
  font-weight: 700;
}
.user-status {
  color: #FFF;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 500;
}
/* use for also meet now and new chat inputs*/
.user-input-text {
  color: #979797;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
}
/* also used in (chats, calls, today, contacts) */
.user-menu-bar-text {
  color: rgba(255, 252, 252, 0.90);
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 400
}
.light-user-menu-bar-text-mode {
  color: #979797;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 400
}

.user-menu-bar-text-active {
  color: #0272BC;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 400;
}
/* use for also 'landing-page2 subtitle(actions)' */
.user-chats-fav-txt {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
}
.light-user-chats-fav-txt-mode {
  color: #979797;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
}
/* use for also New User (You) */
.chats-text {
  color: rgba(255, 252, 252, 0.90);
  font-family: Poppins-regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.light.chat-text-mode {
  color: #979797;
  font-family: Poppins-regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.start-chatting-txt {
  color: #048AD7;
  font-family: Poppins-bold;
  font-size: 22.163px;
  font-weight: 700;
}
.light-start-chatting-txt-mode{
  color: #0272BC;
  font-family: Poppins-bold;
  font-size: 22.163px;
  font-weight: 700;

}

.start-chatting-subtitle-txt {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 12.858px;
  font-weight: 500;
}
.light-start-chatting-subtitle-txt-mode {
  color: #979797;
  font-family: Poppins-regular;
  font-size: 12.858px;
  font-weight: 500;
}


/* landing-page2 */
.welcome-txt {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 20px;
  font-weight: 400;
}
.light-welcome-txt-mode {
  color: #303030;
  font-family: Poppins-regular;
  font-size: 20px;
  font-weight: 400;
}

.new-user-txt {
  color: #FFF;
  font-family: Poppins-bold;
  font-size: 20px;
  font-weight: 700;
}
.light-new-user-txt-mode {
  color: #22074A;
  font-family: Poppins-bold;
  font-size: 20px;
  font-weight: 700;
}
.user-instru-txt {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
}
.light-user-instru-txt-mode {
  color: #585858;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
}

/* .password-reseted-txt {
  color: #000;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 600; 
}*/
/* used by new meeting, join, share screen,schedule text */
.actions-txts {
  color: #FFFCFC;
  font-family: Poppins-medium;
  font-size: 12px;
  font-weight: 400;
}
.light-actions-txts-mode {
  color: #585858;
  font-family: Poppins-medium;
  font-size: 12px;
  font-weight: 400;
}

.time-txt {
  color: #FFF;
  font-family: Poppins-bold;
  font-size: 24px;
  font-weight: 500;
}
.date-txt {
  color: #FFF;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 400;
}
.add-calendar {
  color: #979797;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 400;
}

.switch-acc-title-txt {
  color: #FFFCFC;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
}

.light-switch-acc-title-txt-mode {
  color: #303030;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
}

.switch-acc-title-txt > span {
  color: #FFFCFC;
  font-family:Poppins-regular;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}
.light-switch-acc-title-txt-mode > span {
  color: #303030;
  font-family:Poppins-regular;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}

.switch-acc-subtitle-txt {
  color: #FFFCFC;
  font-family: Poppins-medium;
  font-size: 10px;
  font-weight: 500;
}
.light-switch-acc-subtitle-txt-mode {
  color: #303030;
  font-family: Poppins-medium;
  font-size: 10px;
  font-weight: 500;
}

.switch-acc-subtitle-txt > span{
  color: #048AD7;
  font-family: Poppins-medium;
  font-size: 10px;
  font-weight: 500;
}
.light-switch-acc-subtitle-txt-mode > span {
  color: #0272BC;
  font-family: Poppins-medium;
  font-size: 10px;
  font-weight: 500;
}

.learn-more {
  color: #048AD7;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
}
.light-learn-more-mode {
  color: #0272BC;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
}

/* signup page 
sign up uses (signUp-title-txt)
Username uses (password-input-text)
Or sigin up with && goggle and facebook btn (login-option)
Already have account (signUp-subtitle-txt)
*/
.signUp-title-txt {
  color: #048AD7;
  font-family: Poppins-bold;
  font-size: 26px;
  font-weight: 700;
}
.light-signUp-title-txt-mode {
  color: #150AA1;
  font-family: Poppins-bold;
  font-size: 26px;
  font-weight: 700;
 }

.signUp-subtitle-txt {
  color: #A9A9A9;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; 
}
.light-signUp-subtitle-txt-mode {
  color: #000;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; 
}

.signUp-subtitle-txt > span {
  color: #048AD7;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-decoration-line: underline;
}
.light-signUp-subtitle-txt-mode > span {
  color: #5858FA;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-decoration-line: underline;

}

.create-acc-title-txt {
  color: #FFF;
  font-family: Poppins-regular;
  font-size: 24px;
  font-weight: 700;
}
.light-create-acc-title-txt-mode {
  color: #000;
  font-family: Poppins-regular;
  font-size: 24px;
  font-weight: 700;
}

/* .create-acc-subtitle-txt {
  color: #FFF;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
}
.create-acc-input-txts {
  color: #A9A9A9;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 500;
}
.create-acc-btn-txt {
  color: rgba(34, 32, 32, 0.90);
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 600;
} */

/*one-time-passcode-page 
ONE TIME PASSCODE uses (create-acc-title-txt)
*/
.one-time-subtitle-txt {
  color: #A9A9A9;
  font-family: Poppin-regular;
  font-size: 14px;
  font-weight: 400;
}
.light-one-time-subtitle-txt-mode {
  color: rgba(0, 0, 0, 0.52);
  font-family: Poppin-regular;
  font-size: 14px;
  font-weight: 400;
}

.one-time-btn-txt {
  color: #303030;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}
.one-time-subtitle-txt > span {
  color: #0272BC;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;

}
/* startup styles 
*/

.startUp-title-txt {
  color: #FFF;
  text-align: center;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
.light-startUp-title-txt-mode {
  color: #000;
  text-align: center;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}

.startUp-subtitle-txt {
  color: #A9A9A9;
  text-align: center;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 500;
}
.light-startUp-subtitle-txt-mode {
  color: rgba(34, 32, 32, 0.90);
  text-align: center;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 500;
}

.startup-btn-txt {
  color: #FFF;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 600;
}
.light-startup-btn-txt-mode {
  color: #303030;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 600;
}

/* notification page
Get notified uses (startUp-title-txt)
Allow notification (startUp-subtitle-txt)
*/

.notified-btn-txt {
  color: #FFF;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 600;
}
/* personal styles 
Personalize your profile uses (startUp-title-txt)
your profile pic uses (startUp-subtitle-txt)
next button (notified-btn-txt)
*/
.personal-profie-pic-txt {
  color: #1058E8;
  text-align: center;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 500;

}
.personal-input-label-txt {
  color: #A9A9A9;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}
.light-personal-input-label-txt-mode {
  color: #585858;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}

.prev-txt {
  color: #A9A9A9;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 600;
}
.skip-txt {
  color: #1058E8;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 500;
}

/*last-startUP-page
You're all set! uses (startUp-title-txt)
youre ready to start... uses (startUp-subtitle-txt)
lets go button uses (notified-btn-txt)
*/
/* desktop-2 page  */
.desktop-title-txt {
  color: #DAD9D9;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
}
.desktop-subtitle-txt {
  color: #DAD9D9;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 500;
}
.desktop-tagline-txt {
  color: #FFF;
  font-family: Poppins-regular;
  font-size: 10px;
  font-weight: 400;
}
.desktop-welcome-txt {
  color: #FFF;
  font-family: Poppins-medium;
  font-size: 10px;
  font-weight: 500;
}
.desktop-msg-title-txt {
  color: #DAD9D9;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
}
.desktop-msg-subtitle-txt {
  color: #DAD9D9;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 500;
}
.desktop-msg-graphic-title-txt {
  color: rgba(218, 217, 217, 0.70);
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
}
.desktop-sent-txt {
  color: #DAD9D9;
  font-family: Poppins-regular;
  font-size: 12px;
  font-weight: 500;
}
.desktop-sent-date-txt {
  color: rgba(218, 217, 217, 0.80);
  font-family: Poppins-medium;
  font-size: 10px;
  font-weight: 500;
}
.notification-title-txt {
  color: #FFF;
  text-align: center;
  font-family: Poppins-bold;
  font-size: 24px;
  font-weight: 700;
}
.notification-subtitle-txt {
  color: #FFF;
  text-align: center;
  font-family: Poppins-bold;
  font-size: 16px;
  font-weight: 400;
}

/* ..............START OF COLOR SETTINGS PAGE */
/* ..............START OF COLOR MODE BODY */
.color-mode-display{
  font-family: Poppins;
  padding:125px 0px 279px 30px;
  background-color: #DAD9D9;
}

.color-preview h3,
.color-preview p{
  color: #150AA1;
}

/* ..............START OF PREVIEW DISPLAY */
.preview-display{
  text-align: left;
  margin: 10px 0px 15px 10px;
  padding: 10px;
  width: 45%;
  border-radius: 10px;
  background-color: rgb(248, 249, 250);
}
.preview-display p{
  max-width: 30%;
  margin: 7px 0px 15px 0px;
  padding: 10px 0px 10px 20px;
  background-color: #F1F1F1;
  line-height: 30px;
  border-radius: 0px 20px 20px 20px;
  font-weight: 400;
  color: black
}
.preview-display1{
  width: 50%;
}
.preview-display-right p{
  max-width: 45%;
  background-color: #CCF7FF;
  margin-left: auto;
}
/* ..............END OF PREVIEW DISPLAY */

/* ..............START OF COLOR PICK */
.color-pick{
  width: 50%;
  display: flex;
  gap: 10px;
}
.color-pick-item1{
  position: relative;
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #CCF7FF;
}
.color-pick1-item1{
  position: absolute;
  bottom: 0;
  right: 0;
}
.color-pick-item2{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #FCE2D4;
}
.color-pick-item3{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #FFF1CC;
}
.color-pick-item4{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #CBFBD6;
}
.color-pick-item5{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #F9D7EC;
}
.color-pick-item6{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #DFDEF2;
}
.color-pick-item7{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #00D1FF;
}
.color-pick-item8{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #00D1FF;
}
.color-pick-item9{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #D4F8FF;
}
.color-pick-item10{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #FFFFFF;
}
.color-pick-item11{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #FFFFFF;
}
/* ..............END OF COLOR PICK */

/* ..............START OF COLOR MODE */
.color-mode{
  margin: 15px 0px 10px 20px;
}
.color-mode h4{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #150AA1;
}
.color-mode h5{
  font-weight: 700;
  font-size: 16px;
}
.color-mode1{
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.color-mode12{
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.color-mode-item1{
  align-items: center;
  background-color: #150AA1;
  padding: 15px;
  border-radius: 100%;
}

.color-mode-item{
  border: 1px solid black;
  margin: 8px 0px 10px 0px ;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #DAD9D9;
}
/* ..............END OF COLOR MODE */

hr{
  border: 1px solid #979797;
  margin: 0px 20px 10px 0px;
}



/*..............FOR COLOR PAGE DARK MODE */

/* .color-preview h3,
.color-preview p,
.color-mode h4{
  color: #0389E1;
}

.color-mode-display{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:125px 0px 279px 30px;
  background-color: #222020;
}

.preview-display p{
  color: black;
}

hr{
  border: 1px solid #ffffff;
  margin: 0px 20px 10px 0px;
}

.color-mode-item{
  border: 1px solid #FFFFFF;
  background-color: #DAD9D9;
}

.color-mode h5{
  color: white;
  font-weight: 400;
  font-size: 16px;
} 
.color-mode12{
   margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
  */

  /* ..............END OF COLOR SETTINGS PAGE */

  /* ...........START OF NOTIFICATION PAGE */
.notification-page{
  font-family: poppins;
  background-color: #DAD9D9;
  padding:125px 0px 279px 30px;
}


.notification-page-item1{
  width: 70%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.notification-page-item1 h4{
  color: #150AA1;
  font-size: 14px;
  font-weight: 600;
}
.notification-page-item1 p{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

/* ..............START OF TOOGLE BUTTON */
.toogle-button{
   margin-left: auto;
}
.toggle {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 10px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #C7C7F9;
  border-radius: 15px;
  top: 0;
  left: -8px;
  right: 0px;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: -10px;
  bottom: -3px;
  background-color: #A9A9A9;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #C7C7F9;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
/* ...........END OF TOOGLE BUTTON */
hr{
  border: 1px solid #979797;
  margin: 10px 0px 10px 0px;
}

/*..............FOR COLOR PAGE DARK MODE */

/* .notification-page{
  background-color: #222020;
}

.notification-page-item1 h4{
  color: #0389E1;
  font-size: 14px;
  font-weight: 600;
}
.notification-page-item1 p{
  color: #FFFCFC;
} */
/* ...........END OF NOTIFICATION PAGE */