/* This removes padding & margin from every container */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: poppins-bold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../../assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
}
/* DO NOT REMOVE THE CODE ABOVE */
/* Sign Up Screen & Log In -- Light Mode */
body{
  user-select: none;
}
.light-signup-container {
  display: flex;
  background-color: #dad9d9;
  height: 100vh;
}
.dark-signup-container {
  display: flex;
  background: rgba(42, 40, 45, 0.9);
  height: 100vh;
}
.light-signup-container .light-signup-splash {
  background: radial-gradient(circle at -65% -65%, rgb(130, 6, 225), #22074a);
  width: 30vw;
  min-width: 200px;
  
}
.dark-signup-splash {
  background: #1f201f;
  width: 30vw;
  min-width: 200px;
}
.light-signup-container .light-signup-splash .light-signup-splash-logo img {
  width: 100%;
}
.light-signup-container .light-signup-splash .light-signup-splash-text {
  font-style: normal;
  line-height: normal;
  text-align: center;
}
.light-signup-container .light-signup-splash .light-signup-splash-text h2 {
  color: #fff;
  font-size: 5vw;
  font-weight: 800;
  font-family: poppins-bold;
}
.light-signup-container .light-signup-splash .light-signup-splash-text h2 span {
  color: #6f3fe3;
}
.light-signup-container .light-signup-splash .light-signup-splash-text p {
  color: #e4edf6;
  font-size: 1vw;
  font-weight: 500;
  font-family: poppins-medium;
}
.light-signup-container .light-signup-form-wrapper {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;

}
.signUp-only {
  padding-top: 70px;
  height: 100% !important;
}

.light-signup-container .light-signup-form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 399px;
}

.light-signup-form-wrapper form .full-name, .user-name, .email, .password, .confirm-password, .enter-number {
  display: flex;
  flex-direction: column;
}

#enter-number,
#password,
#email,
#confirmPassword,
#userName,
#fullName {
  outline: none;
}
.enter-number {
  position: relative;
}
.enter-number span {
  position: absolute;
  bottom: 15px;
  left: 10px;
  border-right: 1px solid #a9a9a9;
  padding-right: 10px;
  margin-right: 10px;
}
.enter-number input {
  padding-left: 70px !important;
}

.light-signup-form-wrapper form > div label {
  color: rgba(34, 32, 32, 0.9);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.light-signup-container .light-signup-form-wrapper .light-socials, .light-google, .light-facebook {
  display: flex;
  align-items: center;
}
.light-signup-container .light-signup-form-wrapper .light-socials {
  justify-content: space-between;
  gap: 1rem;
}
.light-signup-form-wrapper p {
  
}
.login-google, .login-facebook {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 7px 10px;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  background: #f1f1f1;
  cursor: pointer;
}
.signup-btn {
  display: flex;
  width: 393px;
  padding: 12px 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #1058e8;
  font-family: poppins-medium;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

.signup-btn a, .login-btn a{
  text-decoration: none ;
}
.reset-password-btn {
  display: flex;
  width: 402px;
  height: 50px;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #1058e8;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.exit {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.back {
  position: absolute;
  bottom: 5px;
  right: 15px;
  color: #979797;
  font-family: poppins-medium;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
/* ---------------------------------Texts style--------------------------- */
/* sign up page */
.light-signUp-title-text {
  color: #150aa1;
  font-family: poppins-bold;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 1.5rem;
}
.dark-signUp-title-text {
  color: #048ad7;
  font-family: poppins-bold;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 1.5rem;
}
.light-signUp-label-texts {
  color: rgba(34, 32, 32, 0.9);
  font-family: poppins-bold;
  font-size: 14px;
}
.dark-signUp-label-texts {
  color: #a9a9a9;
  font-family: poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.light-signIn-terms-text {
  color: #000;
  font-family: poppins-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-bottom: 2px;
}
.light-signIn-terms-text > a {
  color: #5858fa;
  font-family: poppins-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-decoration-line: underline;
}
.dark-signIn-terms-text {
  color: #a9a9a9;
  font-family: poppins-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.dark-signIn-terms-text > a {
  color: #048ad7;
  font-family: poppins-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration-line: underline;
}
.light-signIn-terms-underline {
  width: 321px;
  border-top: 1px solid #595959;
}

.sigup-with {
  color: #7b7b7b;
  font-family: poppins-regular;
  font-size: 14px;
  font-weight: 400;
}
.sigup-with > span {
  color: #595959;
  font-family: poppins-regular;
  font-size: 16px;
  font-weight: 500;
}

/* login page */

.light-signup-container .light-login-text {
  color: #0272bc;
  font-family: Poppins-bold;
  font-size: 26px;
  font-weight: 700;
}
.dark-login-text {
  color: #048ad7;
  font-family: poppins-bold;
  font-size: 26px;
  font-weight: 700;
}
.light-login-label-texts {
  color: #585858;
  font-family: poppins-bold;
  font-size: 14px;
  font-weight: 500;
}
.dark-login-label-text {
  color: #fffcfc;
  font-family: poppins-bold;
  font-size: 16px;
  font-weight: 700;
}
.light-login-subtitle-text {
  color: #585858;
  font-family: poppins-medium;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
.light-login-subtitle-text a{
  text-decoration: none;
}
.dark-login-subtitle-text {
  color: #fff;
  font-family: poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.light-login-subtitle-text > a {
  color: #150aa1;
  font-weight: 600;
}
.dark-login-subtitle-text > a {
  color: #048ad7;
  font-weight: 600;
}
.login-option {
  color: #7b7b7b;
  font-family: poppins-regular;
  font-size: 14px;
  font-weight: 400;
}
.login-option > span {
  color: #595959;
  font-size: 16px;
  font-weight: 500;
}
.logUp-btn-texts {
  color: #7b7b7b;
  font-family: poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.light-reset-password-subtitle-text-mode {
  color: #000;
  font-family: poppins-regular;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.dark-reset-password-subtitle-text-mode {
  color: rgba(255, 252, 252, 0.9);
  font-family: poppins-regular;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.password-input-text {
  color: #a9a9a9;
  font-family: poppins-medium;
  font-size: 14px;
  font-weight: 400;
}

/* ----------------------------------optimazing login page styles //Osita ------------------------- */

/*  ----------login password page--------------------  */
.light-signup-container > .light-signup-form-wrapper > .login-form {
  gap: 0.5rem;
  width: 388px;
}

.password {
  position: relative;
}
.confirm-password {
  position: relative;
}

.signUp-input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  background: #f1f1f1;
  padding: 0 2rem 0 1rem;
}
.light-login-link {
  color: #000;
  font-family: poppins-regular;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  margin-bottom: 50px;
}
.light-login-link > a {
  color: #150aa1;
  text-decoration: none;
}
.dark-login-link {
  color: #a9a9a9;
  font-family: poppins-regular;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
}
.dark-login-link > a {
  color: #048ad7;
  text-decoration: none;
}

.light-signup-form-wrapper .login-input {
  height: 41px;
  border-radius: 10px;
  border: none;
  background: #f1f1f1;
  padding: 0 30px;
}
.open-eye-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 12px;
  bottom: 14px;
}
#open-eye-icon {
  width: 19px;
  height: 13px;
  position: absolute;
  right: 19px;
  bottom: 18px;
  cursor: pointer;
}
.login-password-subtitle {
  display: flex;
  margin: 16px 0 34px;
}
.stay-signed-in {
  margin-left: 2px;
  color: #585858;
  font-family: poppins-regular;
  font-size: 14px;
  font-weight: 400;
}

.login-btn {
  display: flex;
  width: 393px;
  padding: 12px 21px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #1058e8;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.logUp-with-div {
  display: flex;
  align-items: center;
}
.logUp-with-div > span {
  width: 9rem;
  border-top: 1px solid #b99dea;
}
.logUp-with {
  padding: 2px 10px;
  border-radius: 27px;
  background: #b99dea;
}
/*  ----------forget password page--------------------  */
.light-signup-container > .light-signup-form-wrapper > .forget-password-form {
  margin-top: 32px;
}

.forget-password {
  color: #7b7b7b;
  font-family: poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-left: auto;
}
.recover-password-btn {
  display: flex;
  width: 388px;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #1058e8;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
background: radial-gradient(circle at -65% -65%, rgb(130, 6, 225), #22074a);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #14042c;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  .light-signup-container .light-signup-splash {
    display: none;
  }
  .dark-signup-splash {
    display: none;
  }
  .light-signup-container .light-signup-form-wrapper{
    width: 100vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .light-signup-container .light-signup-splash {
    padding-top: 10vh;
  }
  .dark-signup-splash {
    padding-top: 10vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .light-signup-container .light-signup-splash {
    padding-top: 10vh;
  }
  .dark-signup-splash {
    padding-top: 10vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .light-signup-container .light-signup-splash {
    padding-top: 10vh;
  }
  .dark-signup-splash {
    padding-top: 10vh;
  }
  .light-signup-container .light-signup-form-wrapper {

    justify-content: center;

  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .light-signup-container .light-signup-splash {
    padding-top: 10vh;
  }
  .dark-signup-splash {
    padding-top: 10vh;
  }
  .light-signup-container .light-signup-form-wrapper {

    justify-content: center;

  }
}