* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  @font-face {
    font-family: poppins-bold;
    src: url(../../../assets/fonts/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: poppins-regular;
    src: url(../../../assets/fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: poppins-medium;
    src: url(../../../assets/fonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: Rubik;
    src: url(../../../assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
  }

  #sidebar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 40%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: radial-gradient(circle at -65% -65%, rgb(130, 6, 225), #22074a);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15vh;
  }
  #sidebar img{
    width: 90%;
    padding-left: 10%;
  }
  #sidebar .text{
    text-align: center;
  }
  #sidebar h2{
    font-size: 5vw;
    font-weight: 800;
    font-family: poppins-bold;
    line-height: 75px;
    color: white
  }
  #sidebar h2 span{
    color: #6F3FE3;
  }
  #sidebar p{
    font-size: 1.5vw;
    color: #E4EDF6;
    font-family: poppins-regular;
  }