/* This removes padding & margin from every container */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* text styles */
@font-face {
  font-family: poppins-bold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../../assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
}
/* DO NOT REMOVE THE CODE ABOVE */

.main-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 56% 34%;
  background-color: #22074a;
}

ul {
  list-style: none;
}

.side-nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 20px;
  margin-bottom: 10px;
  border-right: 1px solid #979797;
}

.side-nav img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.nav-link {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.call-interface {
  margin: 20px 50px 10px 50px;
}

.interface-section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #979797;
}

.back-dir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  padding: 5px;
  border-radius: 5px;
  background-color: #585858;
}

.interface-section-1-followers {
  display: flex;
  padding: 3px;
  height: 29px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 5px;
  background-color: #585858;
  margin-right: 44px;
}
.interface-section-2 {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 9px 0;
}

.add-user {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.add-user a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interface-section-3 {
  background: url("../../../assets/images/call-wallpaper.png");
  background-size: cover;
  background-position: top -120px right 0px;
  width: 100%;
  height: 485px;
  margin-bottom: 17px;
}

.users-display {
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin: 0px 30px 100px auto;
  padding-top: 30px;
}

.interface-section-3 .user-img {
  display: flex;
  position: relative;
  width: 50px;
  height: 48px;
  border-radius: 3.985px;
  border: 0.797px solid #dad9d9;
}

.interface-section-3 .user-1 {
  background: url("../../../assets/images/user\ 1.png");
  background-size: cover;
  background-position: center;
}
.interface-section-3 .user-2 {
  background: url("../../../assets/images/user\ 2.png");
  background-size: cover;
  background-position: center;
}
.interface-section-3 .user-3 {
  background: url("../../../assets/images/user\ 3.png");
  background-size: cover;
  background-position: center;
}
.interface-section-3 .user-4 {
  background: url("../../../assets/images/user\ 4.png");
  background-size: cover;
  background-position: center;
}

.user-img svg {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.action-btn-wrap {
  width: 89%;
  display: flex;
  gap: 21px;
  align-items: center;
  justify-content: center;
  margin-left: 65px;
}

.action-btn {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a4849;
  border-radius: 10px;
}

.call-btn {
  width: 60px;
  height: 60px;
  background-color: #e9e8e8;
  border-radius: 24px;
}

.video-call-bt {
  background-color: transparent;
  margin-top: 8px;
}

.interface-section-4 {
  display: flex;
  align-items: center;
  gap: 41px;
  height: 45px;
}

.interface-section-4 .wave {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #979797;
  padding: 0 3px;
}

.now-text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.chat-box {
  border-radius: 14px;
  background: linear-gradient(
    181deg,
    rgba(218, 217, 217, 0.67) 5%,
    rgba(218, 217, 217, 0) 154.43%
  );
  margin: 10px 29px 10px 0;
}

.chat-box-wrapper {
  padding: 15px 32px 0 32px;
}

.chat-box-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 15px;
  border-bottom: 1px solid #585858;
}

.message,
.participant {
  display: inline-flex;
  padding: 8px 35px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.message:hover {
  background: #585858;
}

.participant:hover {
  background: #585858;
}

.active-btn-background {
  background: #585858;
}

.graphics-wrapper {
  border-radius: 10px;
  border: 0.5px solid #979797;
  background: #303030;
  padding: 10px 20px;
  margin-top: 12px;
}

.graphics-text {
  padding-bottom: 6px;
  border-bottom: 1px solid #585858;
}

.progress-bar {
  width: 100%;
  height: 4px;
  flex-shrink: 0;
  border-radius: 4px;
  background: rgba(151, 151, 151, 0.6);
  margin: 0 0 4px 0;
}

.loading {
  display: flex;
  height: 4px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #dad9d9;
}

.illus-progress-bar {
  width: 25%;
}

.image-progress-bar {
  width: 75%;
}

.bar-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.progress-bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.illustration-box,
.image-box {
  height: 38px;
  padding: 10px 12px 6px 9px;
}

.illustration-box:hover {
  border-radius: 5px;
  background: rgba(88, 88, 88, 0.5);
  height: 38px;
}

.image-box:hover {
  border-radius: 5px;
  background: rgba(88, 88, 88, 0.5);
  height: 38px;
}

.msg-text {
  margin: 12px 0 12px 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 13px;
  align-items: center;
  justify-content: center;
}

.msg-text::before,
.msg-text::after {
  content: "";
  height: 1.6px;
  background: #dad9d9;
  display: block;
}

.chat-bubbles-wrapper {
  height: 320px;
  overflow-y: hidden;
}

.chat-bubbles {
  display: grid;
  grid-template-columns: 53px auto;
  column-gap: 6px;
  margin-bottom: 18px;
}

.user-profile-picture {
  display: flex;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 53px;
  margin-top: 8px;
}

.userName {
  margin-bottom: 6px;
}

.text-and-time-wrapper {
  display: flex;
  padding: 6px 7px 10px 16px;
  align-items: flex-end;
  width: fit-content;
  gap: 12px;
  margin: 6px 0 0 24px;
  border-radius: 0px 7px 7px 7px;
  background: rgba(88, 88, 88, 0.75);
}
.user-text-delivery-time {
  margin-left: auto;
}

.first-user-profile-picture {
  background: url("../../../assets/images/user\ 3.png");
  background-size: cover;
  background-position: center;
}

.second-user-profile-picture {
  background: url("../../../assets/images/user\ 1.png");
  background-size: cover;
  background-position: center;
}

.third-user-profile-picture {
  background: url("../../../assets/images/user\ 2.png");
  background-size: cover;
  background-position: center;
}

.you-chat-bubble {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 18px;
}

.you-text-and-time-wrapper {
  display: flex;
  width: fit-content;
  padding: 8px 7px 8px 16px;
  align-items: flex-end;
  gap: 12px;
  margin: 6px 0 0 24px;
  border-radius: 7px 0px 7px 7px;
  background: rgba(48, 48, 48, 0.75);
}
.fa-sm {
  padding-bottom: 10px;
}

.user-typing-indicator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
  margin: 12px 0 10px 0;
}

.loading-circle {
  position: relative;
  display: flex;
}

.circle-1 {
  position: absolute;
  left: 12px;
  top: 9px;
}

.circle-2 {
  position: absolute;
  left: 7px;
  bottom: 9px;
}

.circle-3 {
  position: absolute;
  right: 7px;
  bottom: 9px;
}

.input-wrapper {
  display: flex;
  height: 50px;
  border-radius: 7px;
  background: #585858;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 14px 0 21px;
}

.img-btn {
  margin-top: 13px;
  cursor: pointer;
}

.bar {
  width: 1px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #d9d9d9;
  margin: 12px 0 10px 15px;
}

#messages {
  height: 100%;
  width: 250px;
  padding-left: 26px;
  background: none;
  border: none;
}

.send-btn {
  margin-top: 8px;
  margin-left: 10px;
  cursor: pointer;
}

/* ------------------------------ Texts styles -------------------------------------- */
.desktop-msg-title-txt {
  color: #dad9d9;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
}
.desktop-msg-subtitle-txt {
  color: #dad9d9;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 500;
}
.desktop-viewer {
  color: #fff;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.desktop-now-txt {
  color: #fff;
  font-family: Poppins-regular;
  font-size: 10px;
  font-weight: 400;
}
.desktop-thanks-txt {
  color: #fff;
  font-family: Poppins-regular;
  font-size: 10px;
  font-weight: 500;
}
.desktop-msg-graphic-title-txt {
  color: rgba(218, 217, 217, 0.7);
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
}
.desktop-sent-txt {
  color: #dad9d9;
  font-family: Poppins-regular;
  font-size: 12px;
  font-weight: 500;
}
.desktop-sent-date-txt {
  color: rgba(218, 217, 217, 0.8);
  font-family: Poppins-medium;
  font-size: 10px;
  font-weight: 500;
}
