/* This removes padding & margin from every container */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  /* text styles */
  @font-face {
    font-family: poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: poppins-regular;
    src: url(../fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: poppins-medium;
    src: url(../fonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
  }

  /* DO NOT REMOVE THE CODE ABOVE */