/* This removes padding & margin from every container */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  /* text styles */
  @font-face {
    font-family: poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: poppins-regular;
    src: url(../fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: poppins-medium;
    src: url(../fonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
  }

  /* DO NOT REMOVE THE CODE ABOVE */

  /* ------- COLOR SETTINGS PAGE -------- */

/* --------FOR COLOR SETTINGS LIGHT MODE --> */
.color-mode-display{
    padding:134px 0px 134px 30px;
    background-color: #DAD9D9;
}

  /* ..............START OF PREVIEW DISPLAY */
.preview-display{
  text-align: left;
  margin: 10px 0px 15px 10px;
  padding: 10px;
  width: 45%;
  height: 228px;
  border-radius: 6px;
  background-color: rgb(248, 249, 250);
}
.bubble-chat p{
  margin: 7px 0px 15px 0px;
  padding: 10px 0px 10px 20px;
  line-height: 40px;
}
.preview-display1{
  width: 50%;
}
.bubble-chat-right{
  max-width: 45%;
  margin-left: auto;
}
/* ..............END OF PREVIEW DISPLAY */
/* ..............START OF COLOR PICK */
.color-pick{
  width: 50%;
  display: flex;
  gap: 10px;
}
.color-pick-item1{
  position: relative;
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #CCF7FF;
}
.color-pick1-item1{
  position: absolute;
  bottom: 0;
  right: 0;
}
.color-pick-item2{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #FCE2D4;
}
.color-pick-item3{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #FFF1CC;
}
.color-pick-item4{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #CBFBD6;
}
.color-pick-item5{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #F9D7EC;
}
.color-pick-item6{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #DFDEF2;
}
.color-pick-item7{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #00D1FF;
}
.color-pick-item8{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #00D1FF;
}
.color-pick-item9{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #D4F8FF;
}
.color-pick-item10{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #FFFFFF;
}
.color-pick-item11{
  margin: 10px 0px 10px 0px ;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #FFFFFF;
} */
/* ..............END OF COLOR PICK

/* ..............START OF COLOR MODE */
.color-mode{
  margin: 15px 0px 10px 20px;
}
.color-mode h4{
  margin-bottom: 10px;
}

.container {
  margin: 30px 0px 40px 0px;
  display: block;
  position: relative;
  padding: 7px 0px 0px 60px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input { 
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border: 1px solid #000;
  border-radius: 20px;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
  background-color: #fff;
} */

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #150AA1;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 12px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* ..............END OF COLOR MODE */
hr{
  border: 1px solid #979797;
  margin: 0px 20px 10px 0px;
}

/*..............FOR COLOR PAGE DARK MODE */
  
  /* .color-preview h3,
  .color-preview p,
  .color-mode h4{
    color: #0389E1;
  }
  
  .color-mode-display{
    background-color: #222020;
  }
  
  
  hr{
    border: 1px solid #ffffff;
    margin: 0px 20px 10px 0px;
  }
  
  .color-mode-item{
    border: 1px solid #FFFFFF;
    background-color: #DAD9D9;
  }
  .checkmark {
    border: 1px solid #FFF;
    background-color: #DAD9D9;
  }
  
  .color-mode12{
     margin-bottom: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .container input:checked ~ .checkmark {
  background-color: #150AA1;
  border: none;
}
    */
  
    /* ..............END OF COLOR SETTINGS PAGE */