/* This removes padding & margin from every container */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* text styles */
@font-face {
  font-family: poppins-bold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../../assets/fonts/Rubik-VariableFont_wght.ttf);
}
/* DO NOT REMOVE THE CODE ABOVE */

/* /-----------------------SIDE BAR -------------------------/ */
:root {
  /* General */
  --svg-color: #a9a9a9;
  /* light mode */
  --lm-sidebar-bg-color: #22074a;
  --lm-active-menu-bg-color: #ffffff;
  --lm-active-menu: rgba(34, 32, 32, 0.9);

  /* dark mode */
  --dm-sidebar-bg-color: #1f201f;
  --dm-active-menu: #fffcfc;
  --dm-active-menu-bg-color: #373737;
}

body {
  background-color: #dad9d9;
}
/*/------------------- GENERAL CSS FOR SIDEBAR -------------------/*/

.light-body {
  background-color: #dad9d9;
}
.dark-body {
  background-color: #222020;
}
.message {
  display: grid;
  grid-template-columns: 20vw auto;
}
.sidebar-nav {
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding: 43px 0 41px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-link-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 75%;
  margin: auto;
}

.nav-link-container a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 19px;
  height: 54px;
  transition: all 0.2s ease;
}

header {
  margin: auto;
}

.menu-link {
  padding: 0 25px;
}

svg {
  color: var(--svg-color);
}

/*/-------------------LIGHT MODE CSS FOR SIDEBAR  -------------------/*/

.light-sidebar-nav {
  background-color: var(--lm-sidebar-bg-color);
}

.light-nav-link-container a:hover {
  background-color: var(--lm-active-menu-bg-color);
  color: var(--lm-active-menu);
  border-radius: 12px;
  padding: 0 25px;
}

.light-nav-link-container a:hover svg {
  color: var(--lm-active-menu);
}

a.light-active-menu {
  background-color: var(--lm-active-menu-bg-color);
  border-radius: 12px;
  padding: 0 25px;
}

a.light-active-menu svg {
  color: var(--lm-active-menu);
}

/*/-------------------DARK MODE CSS FOR SIDEBAR  -------------------/*/

.dark-sidebar-nav {
  background-color: var(--dm-sidebar-bg-color);
  background-image: url("../../../assets/icons/worldwide-location.svg"),
    url("../../../assets/icons/chat-room.svg"),
    url("../../../assets/icons/worldwide-location.svg"),
    url("../../../assets/icons/video-conference.svg"),
    url("../../../assets/icons/chat-room.svg"),
    url("../../../assets/icons/video-conference.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-position: top 56px right 92px, top 198px right 18px,
    top 395px right 250px, top 450px right 18px, top 547px right 160px,
    top 789px right 231px;
}

.dark-nav-link-container a:hover {
  background-color: var(--dm-active-menu-bg-color);
  border-radius: 12px;
  padding: 0 25px;
}

.dark-nav-link-container a:hover svg {
  color: var(--dm-active-menu);
}

a.dark-active-menu {
  background-color: var(--dm-active-menu-bg-color);
  border-radius: 12px;
  padding: 0 25px;
}

a.dark-active-menu svg {
  color: var(--dm-active-menu);
}

/* ------------------------------------texts styes --------------------------- */
/* NAVBAR */
.light-nav-texts {
  color: rgba(169, 169, 169, 0.9);
  font-family: poppins-regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Dark-nav-texts {
  color: #a9a9a9;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
}

.dark-nav-texts-active {
  color: #fffcfc;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
.light-nav-texts-active {
  color: rgba(34, 32, 32, 0.9);
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
/* message-1 */
.dark-new-message-txt {
  color: #0490ec;
  font-family: Poppins-regular;
  font-size: 20px;
  font-weight: 700;
}
.light-new-message-txt {
  color: #0272bc;
  font-family: Poppins-regular;
  font-size: 20px;
  font-weight: 700;
}

.write-message-txt {
  color: #fff;
  text-align: center;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
}
.follower-btn-text {
  color: #545454;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
}
.dark-select-all-txt {
  color: #0490ec;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
}
.light-select-all-txt {
  color: #150aa1;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
}

.dark-followers-display-name-text {
  color: #fffcfc;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 700;
}
.light-followers-display-name-text {
  color: #494949;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 700;
}

.dark-followers-user-id-text {
  color: #979797;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.light-followers-user-id-text {
  color: #494949;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}

/*------------------FOR MAIN BODY----------------*/

::-webkit-scrollbar {
  overflow: hidden;
}

.light-mainbody {
  height: 100vh;
  background: #dad9d9;
  padding: 25px 20px;
}

.dark-mainbody {
  padding: 25px 20px;
}

.light-mainbody-container {
  display: flex;
  padding: 17px;
  flex-direction: column;
  gap: 41px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
}

.dark-mainbody-container {
  display: flex;
  width: 999px;
  height: 812px;
  padding: 17px;
  flex-direction: column;
  gap: 41px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #272727;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
}

.section1 {
  display: flex;
  justify-content: space-between;
}

.section1-div1 {
  display: flex;
  align-items: center;
  gap: 26px;
}

.section1-div1 svg {
  cursor: pointer;
}

.write-message-btn {
  display: flex;
  width: 158px;
  padding: 7px 10px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12px;
  border-radius: 4px;
  background: #1058e8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.section2 {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

#all-btn {
  width: 49px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 60px;
  background: #c7c7f9;
  color: #545454;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

#followers-btn {
  width: 100px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 60px;
  background: #f1f1f1;
  color: #545454;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

#fans-btn {
  display: flex;
  padding: 7px 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  background: #f1f1f1;
  color: #545454;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.section3 {
  display: flex;
  align-items: center;
  gap: 18px;
}

#checkbox {
  width: 15.611px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid #979797;
  cursor: pointer;
}

.section4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow-y: scroll;
}

.user-profile {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 26px;
  width: 100%;
  border-bottom: 1px solid #979797;
  text-decoration: none;
  color: #000;
}

.user-profile > img {
  width: 62.44px;
  height: 60px;
}
