/* This removes padding & margin from every container */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: red 1px solid; */
  }
  
  /* text styles */
  @font-face {
    font-family: poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: poppins-regular;
    src: url(../fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: poppins-medium;
    src: url(../fonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
  }

  /* DO NOT REMOVE THE CODE ABOVE */

  /* /-----------------------SIDE BAR -------------------------/ */
:root {
  /* General */
  --svg-color: #a9a9a9;
  /* light mode */
  --lm-sidebar-bg-color: #22074a;
  --lm-active-menu-bg-color: #ffffff;
  --lm-active-menu: rgba(34, 32, 32, 0.9);

  /* dark mode */
  --dm-sidebar-bg-color: #1f201f;
  --dm-active-menu: #fffcfc;
  --dm-active-menu-bg-color: #373737;
}

/*/------------------- GENERAL CSS FOR SIDEBAR -------------------/*/
.profile{
  display: grid;
  width: 100%;
  grid-template-columns:310px auto;
  overflow: hidden;
}

.sidebar-nav{
  width: 310px;
  height:100%;
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding: 43px 0 41px 0;
  position: fixed;
  top: 0;
  left: 0; 
  z-index: 1; 
}

.nav-link-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-link-container a{
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 19px;
  height: 54px;
  transition: all 0.5s ease;
}

header .prof-pic,
.menu-link {
  padding-left: 72px;
}

svg {
  color: var(--svg-color);
}

/*/-------------------LIGHT MODE CSS FOR SIDEBAR  -------------------/*/

.light-sidebar-nav {
  background-color: var(--lm-sidebar-bg-color);
}

.light-nav-link-container a:hover {
  background-color: var(--lm-active-menu-bg-color);
  color: var(--lm-active-menu);
}

.light-nav-link-container a:hover svg {
  color: var(--lm-active-menu);
}

a.light-active-menu {
  background-color: var(--lm-active-menu-bg-color);
}

a.light-active-menu svg {
  color: var(--lm-active-menu);
}

/*/-------------------DARK MODE CSS FOR SIDEBAR  -------------------/*/

.dark-sidebar-nav {
  background-color: var(--dm-sidebar-bg-color);
  background-image: url("../../../assets/icons/worldwide-location.svg"),
    url("../../../assets/icons/chat-room.svg"),
    url("../../../assets/icons/worldwide-location.svg"),
    url("../../../assets/icons/video-conference.svg"),
    url("../../../assets/icons/chat-room.svg"),
    url("../../../assets/icons/video-conference.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top 56px right 92px, top 198px right 18px, top 395px right 250px,
    top 450px right 18px, top 547px right 160px, top 789px right 231px;
}

  .dark-nav-link-container a:hover {
    background-color: var(--dm-active-menu-bg-color);
  }
  
  .dark-nav-link-container a:hover svg {
    color: var(--dm-active-menu);
  }

    a.dark-active-menu {
      background-color: var(--dm-active-menu-bg-color);
    }
    
    a.dark-active-menu svg {
      color: var(--dm-active-menu);
    }


    /******************** CSS FOR PROFILE PAGE MAIN BODY  **********************/
.top{
  height: 80px;
  background-color: var(--lm-sidebar-bg-color);
}

.mainbody button{
  cursor: pointer;
}

.main-section{
  width: auto ;
  display: flex;
  flex-direction: column;
  background-color:#FFFFFF;
}

.main-section-1{
  margin: 0 42px 65px 42px;
  height: 275px;
  border:1px solid #979797;
  border-top: 0;
  background: #F1F1FF;
}

.back-arrow{
 margin-top: 12.75px;
 margin-left: 12px;
}
.camera-photo{
  display: flex;
  flex-direction: column;
  gap: 10.79px;
  align-items: center;
  justify-content: center;
  padding: 62px 0 42px 0;
}

.camera-photo svg, h3{
  cursor: pointer;
}

.user-pic-user-names{
  display: flex;
  height: 60px;
  gap: 18px;
  padding-left:10px;
}

.user-names{
  display: flex;
  flex-direction: column;
}

.main-section-2{
  border-bottom: 1px solid #979797;
}

.main-section-2-wrap{
  height: 159px;
  margin:65px 42px 65px 42px;
}

.bio{
margin-bottom: 16px;
}

#bio-write-up{
  width: 100%;
  padding: 17px;
  margin-bottom: 22px;
}

.main-section-2-wrap label{
  position: relative;
}

.text-limit{
  width: 61px;
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
}

#save-btn{
  display: flex;
  margin-left: auto;
}

.main-section-3{
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 69px 180px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 65px auto 114px auto;
}

.main-section-3 h3{
  margin-bottom: 28px;
  
}

.main-section-3 input{
  width: 345px;
}

.main-section-3 label{
  position: relative;
}

#change-btn{
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
}

.input-wrap{
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.main-section-4{
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}

.main-section-4-wrap{
  display: flex;
  gap: 203px;
  margin: 34px 93px 120px 93px;
}

.location-input-wrap{
  display: flex;
  gap: 39px;
  padding: 11px;
  border-radius: 4px;
  border: 1px solid #E4E4E4;
  background: #FFF;

}

.unique-url{
display: flex;
flex-direction: column;
gap: 19px;
}

.social-media-handles{
  display:flex;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;

}

.main-section-5{
  border-bottom: 1px solid #979797;
}

.status{
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin:0 80px 0 80px;
  padding: 58px 0;
}

.active-status, .sub-status{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
}

.main-section-6{
  border-bottom: 1px solid #979797;
}

.main-section-6-wrap{
  display: flex;
  justify-content: space-between;
  padding:63px 80px 61px 80px;
}

  /**************** CSS FOR PROFILE FOOTER ******************/
  footer{
    width: auto;
    background: #B0B0B0;
    margin-top: 15px;
  }

  .footer-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 11px;
    padding: 26px 49.5px 28px 15px;

  }
  .section-1{
    display: flex;
    gap: 272px;
  }

  .section-1 a{
    display:inline-flex;
    margin-bottom: 18px;
  
  }

  .section-1 a:last-child{
    margin-bottom: 0;
  }

  .links{
    display: flex;
    flex-direction: column;
  }
  .links p{
    margin-bottom: 20px;
  }

  .section-2{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: auto;
    margin-right: 36px;
  }

  .social-handles{
    display: inline-flex;
    gap: 14px;
    justify-content:flex-start;
  }

  .fa-brands{
    font-size: 25.77px;
    color: #0021f5;
    padding:4px;
  }



     /* ------------------------------------texts styes --------------------------- */
    /* NAVBAR */
    .light-nav-texts {
      color: rgba(169, 169, 169, 0.90);
      font-family: Rubik;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .Dark-nav-texts {
      color: #A9A9A9;
      font-family: Rubik;
      font-size: 16px;
      font-weight: 500;
  }

  .dark-nav-texts-active {
      color: #FFFCFC;
      font-family: Poppins-regular;
      font-size: 16px;
      font-weight: 700;
  }
  .light-nav-texts-active { 
      color: rgba(34, 32, 32, 0.90);
      font-family: Poppins-regular;
      font-size: 16px;
      font-weight: 700;

  }
  /* -------profile texts styles------- */

  /* ------footer------ */
  
.mainbody >
.links
p, a {
  color: #000000;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; 
  text-decoration: none;
}
/* .footer-texts {
    color: #000000;
    font-family: Poppins-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; 
} */
.footer-share-text {
    color: #0021f5;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}