/* This removes padding & margin from every container */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* text styles */
@font-face {
  font-family: poppins-bold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../../assets/fonts/Rubik-VariableFont_wght.ttf);
}

/* DO NOT REMOVE THE CODE ABOVE */

/* /-----------------------SIDE BAR -------------------------/ */
:root {
  /* General */
  --svg-color: #a9a9a9;
  /* light mode */
  --lm-sidebar-bg-color: #22074a;
  --lm-active-menu-bg-color: #ffffff;
  --lm-active-menu: rgba(34, 32, 32, 0.9);

  /* dark mode */
  --dm-sidebar-bg-color: #1f201f;
  --dm-active-menu: #fffcfc;
  --dm-active-menu-bg-color: #373737;
}

/*/------------------- GENERAL CSS FOR SIDEBAR -------------------/*/
.profile {
  display: flex;
  overflow: hidden;
}

.sidebar-nav {
  width: 20vw;
  min-width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding: 43px 0 41px 0;
}

.nav-link-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 75%;
  margin: auto;
}

.nav-link-container a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 19px;
  height: 54px;
  transition: all 0.2s ease;
}

header {
  margin: auto;
}

.menu-link {
  padding: 0 1vw;
}

svg {
  color: var(--svg-color);
}

/*/-------------------LIGHT MODE CSS FOR SIDEBAR  -------------------/*/

.light-sidebar-nav {
  background-color: var(--lm-sidebar-bg-color);
}

.light-nav-link-container a:hover {
  background-color: var(--lm-active-menu-bg-color);
  color: var(--lm-active-menu);
  border-radius: 12px;
  padding: 0 1vw;
}

.light-nav-link-container a:hover svg {
  color: var(--lm-active-menu);
}

a.light-active-menu {
  background-color: var(--lm-active-menu-bg-color);
  border-radius: 12px;
  padding: 0 1vw;
}

a.light-active-menu svg {
  color: var(--lm-active-menu);
}

/*/-------------------DARK MODE CSS FOR SIDEBAR  -------------------/*/

.dark-sidebar-nav {
  background-color: var(--dm-sidebar-bg-color);
  background-image: url("../../../assets/icons/worldwide-location.svg"),
    url("../../../assets/icons/chat-room.svg"),
    url("../../../assets/icons/worldwide-location.svg"),
    url("../../../assets/icons/video-conference.svg"),
    url("../../../assets/icons/chat-room.svg"),
    url("../../../assets/icons/video-conference.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-position: top 56px right 92px, top 198px right 18px,
    top 395px right 250px, top 450px right 18px, top 547px right 160px,
    top 789px right 231px;
}

.dark-nav-link-container a:hover {
  background-color: var(--dm-active-menu-bg-color);
  border-radius: 12px;
  padding: 0 1vw;
}

.dark-nav-link-container a:hover svg {
  color: var(--dm-active-menu);
}

a.dark-active-menu {
  background-color: var(--dm-active-menu-bg-color);
  border-radius: 12px;
  padding: 0 1vw;
}

a.dark-active-menu svg {
  color: var(--dm-active-menu);
}

/******************** CSS FOR PROFILE PAGE MAIN BODY  **********************/
.mainbody {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.top {
  height: 80px;
  background-color: var(--lm-sidebar-bg-color);
}

.mainbody button {
  cursor: pointer;
}

.main-section-1 {
  margin: 0 3%;
  height: 275px;
  border: 1px solid #979797;
  border-top: 0;
  background: #f1f1ff;
}

.back-arrow {
  margin-top: 12.75px;
  margin-left: 12px;
}
.camera-photo {
  display: flex;
  flex-direction: column;
  gap: 10.79px;
  align-items: center;
  justify-content: center;
  padding: 62px 0 42px 0;
}

.camera-photo svg,
h3 {
  cursor: pointer;
}

.user-pic-user-names {
  display: flex;
  height: 60px;
  gap: 18px;
  padding-left: 10px;
}

.user-names {
  display: flex;
  flex-direction: column;
}

.main-section-2 {
  border-bottom: 1px solid #979797;
}

.main-section-2-wrap {
  height: 159px;
  margin: 65px 3%;
}

.bio-form {
  display: flex;
  flex-direction: column;
}

.bio-form label {
  margin-bottom: 16px;
}

.bio-input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid #979797;
  background: #f6f6f6;
  margin-bottom: 22px;
  padding: 17px;
}

#light-bio-write-up {
  display: flex;
  width: 85%;
  align-items: center;
  outline: none;
  border: none;
  background: #f6f6f6;
}

#dark-bio-write-up {
  display: flex;
  width: 85%;
  align-items: center;
  outline: none;
  border: none;
  background: #585858;
}

#save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 133.512px;
  height: 41.806px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #1058e8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins-regular;
  border: none;
}

.main-section-3 {
  display: flex;
  flex-direction: column;
  gap: 69px;
  margin: 65px 4vw 114px 4vw;
}

.main-section-3 input {
  width: 60%;
}

.display-username,
.email-password {
  display: flex;
  justify-content: space-between;
}

.display-name-section,
.username-section,
.email-section,
.password-section {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.light-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #979797;
  width: 344px;
  height: 52px;
  border-radius: 4px;
  padding-left: 15.95px;
  padding-right: 11px;
}

.dark-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #979797;
  background-color: #585858;
  width: 344px;
  height: 52px;
  border-radius: 4px;
  padding-left: 15.95px;
  padding-right: 11px;
}

.password-section {
  display: flex;
  flex-direction: column;
}

#change-btn {
  width: 75.179px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 1px solid #e4e4e4;
  background: #1058e8;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
}

#light-display-name,
#light-change-username,
#light-email,
#light-confirm {
  padding-right: 10px;
  outline: none;
  border: none;
}

#dark-display-name,
#dark-change-username,
#dark-email,
#dark-confirm {
  padding-right: 10px;
  outline: none;
  border: none;
  background: #585858;
}

#light-old-password,
#light-new-password {
  display: flex;
  width: 345px;
  padding: 11px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #979797;
  background: #fff;
  outline: none;
}

#dark-old-password,
#dark-new-password {
  display: flex;
  width: 345px;
  padding: 11px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #979797;
  background: #585858;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.main-section-4 {
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}

.main-section-4-wrap {
  display: flex;
  justify-content: space-between;
  margin: 34px 4% 120px 7%;
}

.location-form {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.light-location-input-wrap {
  display: flex;
  width: 345px;
  gap: 30px;
  align-items: center;
  padding: 0 11px;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  background: #fff;
}

.dark-location-input-wrap {
  display: flex;
  width: 345px;
  gap: 30px;
  align-items: center;
  padding: 0 11px;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  background: #585858;
}

#location {
  width: 50%;
  height: 100%;
  border: none;
  background: inherit;
  outline: none;
}

.set-btn {
  width: 75.397px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 1px solid #e4e4e4;
  background: #1058e8;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
  margin: 11px 0;
}

.unique-url {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

#light-link {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid #e4e4e4;
  background: #f1f1f1;
}

#dark-link {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid #e4e4e4;
  background: #585858;
}

.social-media-handles {
  display: flex;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
}

.main-section-5 {
  border-bottom: 1px solid #979797;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin: 0 7%;
  padding: 58px 0;
}

.active-status,
.sub-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
}

.main-section-6 {
  border-bottom: 1px solid #979797;
}

.main-section-6-wrap {
  display: flex;
  justify-content: space-between;
  padding: 63px 7% 61px 7%;
}

.delete-btn {
  width: 145.406px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 1px solid #f52b1e;
  background: #fff;
  color: #f52b1e;
  font-size: 16px;
  font-weight: 400;
}

/**************** CSS FOR PROFILE FOOTER ******************/
footer {
  /* width: auto; */
  background: #b0b0b0;
  margin-top: 15px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 11px;
  margin: 0 49px 0 15px;
  padding: 26px 0 28px 0;
}

.section-1 {
  display: flex;
  gap: 22vw;
}

.section-1 a {
  display: inline-flex;
  margin-bottom: 18px;
}

.section-1 a:last-child {
  margin-bottom: 0;
}

.links {
  display: flex;
  flex-direction: column;
}

.links p {
  margin-bottom: 20px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: auto;
  margin-right: 36px;
}

.social-handles {
  display: inline-flex;
  gap: 14px;
  justify-content: flex-start;
}

.fa-brands {
  font-size: 25.77px;
  color: #0021f5;
  padding: 4px;
}

/* ------------------------------------texts styes --------------------------- */
/* NAVBAR */
.light-nav-texts {
  color: rgba(169, 169, 169, 0.9);
  font-family: poppins-regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Dark-nav-texts {
  color: #a9a9a9;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
}

.dark-nav-texts-active {
  color: #fffcfc;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
.light-nav-texts-active {
  color: rgba(34, 32, 32, 0.9);
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
/* -------profile texts styles------- */

.dark-cover-photo-text {
  color: #585858;
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}
.light-cover-photo-text {
  color: #0272bc;
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}

.display-name-text {
  color: #150aa1;
  font-family: Poppins-regular;
  font-size: 20px;
  font-weight: 700;
}
.user-id-text {
  color: #686868;
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}
.dark-bio-text {
  color: #fffcfc;
  font-family: poppins-regular;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.light-bio-text {
  color: #0272bc;
  font-family: poppins-regular;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.bio-input-text {
  color: #9a9a9a;
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}
.input-limit-text {
  color: #494949;
  font-family: poppins-regular;
  font-size: 12px;
  font-weight: 300;
}
/* reuseable at message interface(send button) */

.dark-change-text {
  color: #fffcfc;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
.light-change-text {
  color: #0272bc;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}

.change-input-text {
  color: #9a9a9a;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 400;
}
.change-btn-text {
  color: #fff;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
}
.dark-url-input-text {
  color: #a9a9a9;
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}
.light-url-input-text {
  color: rgba(34, 32, 32, 0.9);
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}

.share-txt {
  color: #222020e5;
  font-family: Poppins-medium;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}
.dark-show-text {
  color: #fffcfc;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
.light-show-text {
  color: #0272bc;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}

.delete-text {
  color: #f52a1d;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.delete-btn-text {
  color: #f52a1d;
  text-align: center;
  font-family: Poppins-medium;
  font-size: 16px;
  font-weight: 400;
}

/* ------footer------ */

.mainbody > .links p,
a {
  color: #000000;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}
.links p {
  color: #585858;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.footer-share-text {
  color: #0021f5;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
