/* This removes padding & margin from every container */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

/* text styles */
@font-face {
  font-family: poppins-bold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../../assets/fonts/Rubik-VariableFont_wght.ttf);
}

/* DO NOT REMOVE THE CODE ABOVE */

body {
  user-select: none;
}

.profile-body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: radial-gradient(circle at -65% -65%, rgb(130, 6, 225), #22074a);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #14042c;
}

/******************** CSS FOR PROFILE PAGE MAIN BODY  **********************/
.mainbody {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.dark-mainbody {
  background-color: #262626;
}

.mainbody button {
  cursor: pointer;
}

.light-body-content {
  background-color: #fff;
}

.dark-body-content {
  background-color: var(--dm-sidebar-bg-color);
}

.main-section-1 {
  margin: 0 3%;
  height: 275px;
  border-top: 0;
  border: 1px solid #979797;
  border-top: none;
}

.light-main-section-1 {
  background: #f1f1ff;
}

.dark-main-section-1 {
  background: #979797;
}

.back-arrow {
  margin-top: 12.75px;
  margin-left: 12px;
}

.camera-photo {
  display: flex;
  flex-direction: column;
  gap: 10.79px;
  align-items: center;
  justify-content: center;
  padding: 62px 0 42px 0;
}

.camera-photo svg,
h3 {
  cursor: pointer;
}

.user-pic-user-names {
  display: flex;
  height: 60px;
  gap: 18px;
  padding-left: 10px;
}

.main-section-2 {
  border-bottom: 1px solid #979797;
}

.main-section-2-wrap {
  height: 159px;
  margin: 65px 3%;
}

.bio-form {
  display: flex;
  flex-direction: column;
}

.bio-form label {
  margin-bottom: 16px;
}

.bio-input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  margin-bottom: 22px;
  padding: 17px;
}

.light-bio-input-wrap {
  border: 1px solid #979797;
  background: #f6f6f6;
}

.dark-bio-input-wrap {
  border: 1px solid #e4e4e4;
  background: #585858;
}

#bio-write-up {
  display: flex;
  width: 85%;
  align-items: center;
  outline: none;
  background: none;
  border: none;
}

#save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 133.512px;
  height: 41.806px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #1058e8;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Poppins-regular;
  border: none;
}

.main-section-3 {
  display: flex;
  flex-direction: column;
  gap: 69px;
  margin: 5vh 4vw 10vh 4vw;
}

.display-username,
.email-password {
  display: flex;
  justify-content: space-between;
}

.display-name-section,
.username-section,
.email-section,
.password-section {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.inside-input-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 28vw;
  height: 52px;
  border-radius: 4px;
  padding-left: 1vw;
  padding-right: 1vw;
  border: 1px solid #979797;
}

.light-inside-input-text {
  background: #fff;
}

.dark-inside-input-text {
  background-color: #585858;
}

.password-section {
  display: flex;
  flex-direction: column;
}

#change-btn {
  width: 12vw;
  height: 6vh;
  border-radius: 60px;
  border: 1px solid #e4e4e4;
  background: #1058e8;
  color: #fff;
  border: none;
}

.change-inputs {
  width: 72%;
  outline: none;
  border: none;
  background: none;
}

.enter-password {
  display: flex;
  width: 28vw;
  padding: 11px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #979797;
  outline: none;
}

.light-enter-password {
  background: none;
}
.dark-enter-password {
  background: #585858;
}

.main-section-4 {
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}

.main-section-4-wrap {
  display: flex;
  margin: 4vh 4vw 10vh 4vw;
  gap: 20vw;
}

.location {
  width: 28vw;
}

.location-form {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.location-input {
  display: flex;
  align-items: center;
  padding: 1.5vh 1vw;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
}

.light-location-input {
  background: #fff;
}

.dark-location-input {
  background: #585858;
}

.location-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 3vw;
}

#location {
  width: 70%;
  border: none;
  background: inherit;
  outline: none;
}

.unique-url-wrapper {
  width: 35%;
}

.unique-url {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.url-link {
  width: fit-content;
  padding: 8px 2vw;
  border-radius: 30px;
  border: 1px solid #e4e4e4;
}

.url-link a {
  display: inline-block;
  word-break: break-all;
}

.light-url-link {
  background: #f1f1f1;
}

.dark-url-link {
  background: #585858;
}

.social-media-handles {
  display: flex;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
}

.main-section-5 {
  border-bottom: 1px solid #979797;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin: 0 7%;
  padding: 58px 0;
}

.active-status,
.sub-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
}

/*---------------TOGGLE KEY--------------*/
/* The switch - the box around the slider */
.toggle {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 14px;
}

/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c7f9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -3.1px;
  background-color: #a9a9a9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider:before {
  background-color: #150aa1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c7c7f9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

.main-section-6 {
  border-bottom: 1px solid #979797;
}

.main-section-6-wrap {
  display: flex;
  justify-content: space-between;
  padding: 63px 7% 61px 7%;
}

.delete-btn {
  width: 145.406px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 1px solid #f52b1e;
  background: #fff;
  color: #f52b1e;
  font-size: 1rem;
  font-weight: 400;
}

/**************** CSS FOR PROFILE FOOTER ******************/
footer {
  background: #b0b0b0;
  margin-top: 15px;
}

.footer-container {
  padding: 4vh 2vw 4vh 3vw;
}

.section-1 {
  display: flex;
  justify-content: space-between;
}

.section-1 a {
  display: inline-flex;
  margin-bottom: 18px;
}

.section-1 a:last-child {
  margin-bottom: 0;
}

.links {
  display: flex;
  flex-direction: column;
}

.links p {
  margin-bottom: 20px;
}

.section-2 {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 6px;
  margin: 2vh 0 0 auto;
}

.social-handles {
  display: inline-flex;
  gap: 14px;
  justify-content: flex-start;
}

.fa-brands {
  font-size: 1.5rem;
  color: #0021f5;
  padding: 4px;
}

/* ------------------------------------texts styes --------------------------- */
/* -------profile texts styles------- */

.pop-reg-txt {
  font-family: Poppins-regular;
}

.light-cover-photo-text {
  color: #0272bc;
  font-family: Poppins-medium;
  font-size: 1rem;
  font-weight: 400;
}
.dark-cover-photo-text {
  color: #585858;
  font-family: Poppins-medium;
  font-size: 1rem;
  font-weight: 400;
}

.display-name-text {
  color: #150aa1;
  font-size: 20px;
  font-weight: 700;
}

.user-id-text {
  color: #686868;
  font-family: Poppins-medium;
  font-size: 1rem;
  font-weight: 400;
}

.bio-input-text {
  color: #9a9a9a;
  font-family: Poppins-medium;
  font-size: 1rem;
  font-weight: 400;
}

.input-limit-text {
  color: #494949;
  font-size: 0.8rem;
  font-weight: 300;
}

/* reuseable at message interface(send button) */

.change-text {
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
}

.light-change-text {
  color: #0272bc;
}

.dark-change-text {
  color: #fffcfc;
}

.change-input-text {
  color: #9a9a9a;
  font-family: Poppins-medium;
  font-size: 1rem;
  font-weight: 400;
}

.change-btn-text {
  color: #fff;
  font-family: Poppins-regular;
  font-size: 0.9rem;
  font-weight: 400;
}

.url-text {
  font-family: Poppins-medium;
  font-size: 1.3vw;
  font-weight: 400;
}

.light-url-text {
  color: #a9a9a9;
}

.dark-url-text {
  color: rgba(34, 32, 32, 0.9);
}

.share-txt {
  color: #222020e5;
  font-family: Poppins-medium;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 22px;
}

.light-show-text {
  color: #0272bc;
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
}

.dark-show-text {
  color: #fffcfc;
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
}

.delete-text {
  color: #f52a1d;
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.delete-btn-text {
  color: #f52a1d;
  text-align: center;
  font-family: Poppins-medium;
  font-size: 1rem;
  font-weight: 400;
}

/* ------footer------ */

.links {
  font-family: Poppins-regular;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 22px;
}

.links a {
  color: #000000;
  text-decoration: none;
}

.links p {
  color: #585858;
}

.footer-share-text {
  color: #0021f5;
  font-family: Poppins-regular;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

/* Large devices (laptops/desktops, 1085px and down) */
@media only screen and (max-width: 1085px) {
  html {
    font-size: 12px;
  }
}

/* Large devices (laptops/desktops, 998px and down) */
@media only screen and (max-width: 998px) {
  html {
    font-size: 12px;
  }

  .display-username,
  .email-password,
  .main-section-4-wrap {
    gap: 5vh;
    flex-direction: column;
  }

  .inside-input-text,
  .enter-password,
  .location,
  .unique-url-wrapper {
    width: 100%;
  }

  .url-text {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 11px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
