/* This removes padding & margin from every container */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

/* text styles */
@font-face {
  font-family: poppins-bold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../../assets/fonts/Rubik-VariableFont_wght.ttf);
}

/* DO NOT REMOVE THE CODE ABOVE */

/* /-----------------------SIDE BAR -------------------------/ */
:root {
  /* General */
  --svg-color: #a9a9a9;
  /* light mode */
  --lm-sidebar-bg-color: #22074a;
  --lm-active-menu-bg-color: #ffffff;
  --lm-active-menu: rgba(34, 32, 32, 0.9);

  /* light mode */
  --dm-sidebar-bg-color: #1f201f;
  --dm-active-menu: #fffcfc;
  --dm-active-menu-bg-color: #373737;
}

/*/------------------- GENERAL CSS FOR SIDEBAR -------------------/*/

.profile-body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar-nav {
  width: 20vw;
  min-width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 4vh;
}

header {
  margin: auto;
}

.prof-pic {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.nav-link-container {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  width: 75%;
  margin: auto;
}

.nav-link-container a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 19px;
  padding: 1.7vh 1vw;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.menu-link {
  padding: 1.7vh 1vw;
}

svg {
  color: var(--svg-color);
}

/*/-------------------LIGHT MODE CSS FOR SIDEBAR  -------------------/*/

.light-sidebar-nav {
  background-color: var(--lm-sidebar-bg-color);
}

.light-nav-link-container a:hover {
  background-color: var(--lm-active-menu-bg-color);
  color: var(--lm-active-menu);
  border-radius: 12px;
  padding: 1.7vh 1vw;
}

.light-nav-link-container a:hover svg {
  color: var(--lm-active-menu);
}

a.light-active-menu {
  background-color: var(--lm-active-menu-bg-color);
  border-radius: 12px;
  padding: 1.7vh 1vw;
}

a.light-active-menu svg {
  color: var(--lm-active-menu);
}

/*/-------------------DARK MODE CSS FOR SIDEBAR  -------------------/*/

.dark-sidebar-nav {
  background-color: var(--dm-sidebar-bg-color);
  background-image: url("../../../assets/icons/worldwide-location.svg"),
    url("../../../assets/icons/chat-room.svg"),
    url("../../../assets/icons/worldwide-location.svg"),
    url("../../../assets/icons/video-conference.svg"),
    url("../../../assets/icons/chat-room.svg"),
    url("../../../assets/icons/video-conference.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-position: top 56px right 92px, top 198px right 18px,
    top 395px right 250px, top 450px right 18px, top 547px right 160px,
    top 789px right 231px;
}

.dark-nav-link-container a:hover {
  color: var(--dm-active-menu);
  background-color: var(--dm-active-menu-bg-color);
  border-radius: 12px;
  padding: 1.7vh 1vw;
}

.dark-nav-link-container a:hover svg {
  color: var(--dm-active-menu);
}

a.dark-active-menu {
  background-color: var(--dm-active-menu-bg-color);
  border-radius: 12px;
  padding: 1.7vh 1vw;
}

a.dark-active-menu svg {
  color: var(--dm-active-menu);
}

/******************** CSS FOR PROFILE PAGE MAIN BODY  **********************/
.mainbody {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.light-mainbody {
  background-color: var(--lm-sidebar-bg-color);
}

.dark-mainbody {
  background-color: #262626;
}

.mainbody button {
  cursor: pointer;
}

.light-body-content {
  background-color: #fff;
}

.dark-body-content {
  background-color: var(--dm-sidebar-bg-color);
}

.main-section-1 {
  margin: 0 3%;
  height: 275px;
  border-top: 0;
  border: 1px solid #979797;
  border-top: none;
}

.light-main-section-1 {
  background: #f1f1ff;
}

.dark-main-section-1 {
  background: #979797;
}

.back-arrow {
  margin-top: 12.75px;
  margin-left: 12px;
}

.camera-photo {
  display: flex;
  flex-direction: column;
  gap: 10.79px;
  align-items: center;
  justify-content: center;
  padding: 62px 0 42px 0;
}

.camera-photo svg,
h3 {
  cursor: pointer;
}

.user-pic-user-names {
  display: flex;
  height: 60px;
  gap: 18px;
  padding-left: 10px;
}

.main-section-2 {
  border-bottom: 1px solid #979797;
}

.main-section-2-wrap {
  height: 159px;
  margin: 65px 3%;
}

.bio-form {
  display: flex;
  flex-direction: column;
}

.bio-form label {
  margin-bottom: 16px;
}

.bio-input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  margin-bottom: 22px;
  padding: 17px;
}

.light-bio-input-wrap {
  border: 1px solid #979797;
  background: #f6f6f6;
}

.dark-bio-input-wrap {
  border: 1px solid #e4e4e4;
  background: #585858;
}

#bio-write-up {
  display: flex;
  width: 85%;
  align-items: center;
  outline: none;
  background: none;
  border: none;
}

#save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 133.512px;
  height: 41.806px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #1058e8;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Poppins-regular;
  border: none;
}

.main-section-3 {
  display: flex;
  flex-direction: column;
  gap: 69px;
  margin: 5vh 4vw 10vh 4vw;
}

.display-username,
.email-password {
  display: flex;
  justify-content: space-between;
}

.display-name-section,
.username-section,
.email-section,
.password-section {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.inside-input-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 28vw;
  height: 52px;
  border-radius: 4px;
  padding-left: 15.95px;
  padding-right: 11px;
  border: 1px solid #979797;
}

.light-inside-input-text {
  background: #fff;
}

.dark-inside-input-text {
  background-color: #585858;
}

.password-section {
  display: flex;
  flex-direction: column;
}

#change-btn {
  width: 75.179px;
  height: 30px;
  border-radius: 60px;
  border: 1px solid #e4e4e4;
  background: #1058e8;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
}

.change-inputs {
  width: 72%;
  outline: none;
  border: none;
  background: none;
}

.enter-password {
  display: flex;
  width: 28vw;
  padding: 11px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #979797;
  outline: none;
}

.light-enter-password {
  background: none;
}
.dark-enter-password {
  background: #585858;
}

.main-section-4 {
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}

.main-section-4-wrap {
  display: flex;
  justify-content: space-between;
  margin: 4vh 4vw 10vh 4vw;
}

.location {
  width: 28vw;
}

.location-form {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.location-input {
  display: flex;
  align-items: center;
  padding: 1.5vh 1vw;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
}

.light-location-input {
  background: #fff;
}

.dark-location-input {
  background: #585858;
}

.location-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 3vw;
}

#location {
  width: 70%;
  border: none;
  background: inherit;
  outline: none;
}

.unique-url {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  margin-left: 2vw;
}

.url-link {
  width: fit-content;
  padding: 8px 2vw;
  border-radius: 60px;
  border: 1px solid #e4e4e4;
}

.url-link a {
  display: inline-block;
  width: 100%;
}

.light-url-link {
  background: #f1f1f1;
}

.dark-url-link {
  background: #585858;
}

.social-media-handles {
  display: flex;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
}

.main-section-5 {
  border-bottom: 1px solid #979797;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin: 0 7%;
  padding: 58px 0;
}

.active-status,
.sub-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
}

/*---------------TOGGLE KEY--------------*/
/* The switch - the box around the slider */
.toggle {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 14px;
}

/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c7f9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -3.1px;
  background-color: #a9a9a9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider:before {
  background-color: #150aa1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c7c7f9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

.main-section-6 {
  border-bottom: 1px solid #979797;
}

.main-section-6-wrap {
  display: flex;
  justify-content: space-between;
  padding: 63px 7% 61px 7%;
}

.delete-btn {
  width: 145.406px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 1px solid #f52b1e;
  background: #fff;
  color: #f52b1e;
  font-size: 1rem;
  font-weight: 400;
}

/**************** CSS FOR PROFILE FOOTER ******************/
footer {
  background: #b0b0b0;
  margin-top: 15px;
}

.footer-container {
  padding: 4vh 2vw 4vh 3vw;
}

.section-1 {
  display: flex;
  justify-content: space-between;
}

.section-1 a {
  display: inline-flex;
  margin-bottom: 18px;
}

.section-1 a:last-child {
  margin-bottom: 0;
}

.links {
  display: flex;
  flex-direction: column;
}

.links p {
  margin-bottom: 20px;
}

.section-2 {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 6px;
  margin: 2vh 0 0 auto;
}

.social-handles {
  display: inline-flex;
  gap: 14px;
  justify-content: flex-start;
}

.fa-brands {
  font-size: 1.5rem;
  color: #0021f5;
  padding: 4px;
}

/* ------------------------------------texts styes --------------------------- */
/* NAVBAR */

.light-nav-texts {
  color: rgba(169, 169, 169, 0.9);
  font-family: poppins-regular;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dark-nav-texts {
  color: #a9a9a9;
  font-family: Rubik;
  font-size: 1rem;
  font-weight: 500;
}

.dark-nav-texts-active {
  color: #fffcfc;
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
}

.light-nav-texts-active {
  color: rgba(34, 32, 32, 0.9);
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
}

/* -------profile texts styles------- */

.pop-reg-txt {
  font-family: Poppins-regular;
}

.light-cover-photo-text {
  color: #0272bc;
  font-family: Poppins-medium;
  font-size: 1rem;
  font-weight: 400;
}
.dark-cover-photo-text {
  color: #585858;
  font-family: Poppins-medium;
  font-size: 1rem;
  font-weight: 400;
}

.display-name-text {
  color: #150aa1;
  font-size: 20px;
  font-weight: 700;
}

.user-id-text {
  color: #686868;
  font-family: Poppins-medium;
  font-size: 1rem;
  font-weight: 400;
}

.bio-input-text {
  color: #9a9a9a;
  font-family: Poppins-medium;
  font-size: 1rem;
  font-weight: 400;
}

.input-limit-text {
  color: #494949;
  font-size: 0.8rem;
  font-weight: 300;
}

/* reuseable at message interface(send button) */

.change-text {
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
}

.light-change-text {
  color: #0272bc;
}

.dark-change-text {
  color: #fffcfc;
}

.change-input-text {
  color: #9a9a9a;
  font-family: Poppins-medium;
  font-size: 0.9rem;
  font-weight: 400;
}

.change-btn-text {
  color: #fff;
  font-family: Poppins-regular;
  font-size: 0.9rem;
  font-weight: 400;
}

.url-text {
  font-family: Poppins-medium;
  font-size: 1.3vw;
  font-weight: 400;
}

.light-url-text {
  color: #a9a9a9;
}

.dark-url-text {
  color: rgba(34, 32, 32, 0.9);
}

.share-txt {
  color: #222020e5;
  font-family: Poppins-medium;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 22px;
}

.light-show-text {
  color: #0272bc;
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
}

.dark-show-text {
  color: #fffcfc;
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
}

.delete-text {
  color: #f52a1d;
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.delete-btn-text {
  color: #f52a1d;
  text-align: center;
  font-family: Poppins-medium;
  font-size: 1rem;
  font-weight: 400;
}

/* ------footer------ */

.links {
  font-family: Poppins-regular;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 22px;
}

.links a {
  color: #000000;
  text-decoration: none;
}

.links p {
  color: #585858;
}

.footer-share-text {
  color: #0021f5;
  font-family: Poppins-regular;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }

  .display-username,
  .email-password,
  .main-section-4-wrap {
    gap: 5vh;
    flex-direction: column;
  }

  .inside-input-text,
  .enter-password,
  .location,
  .unique-url {
    width: 100%;
  }

  .url-text {
    font-size: 1rem;
  }
}
