/* This removes padding & margin from every container */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* text styles */
@font-face {
  font-family: poppins-bold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../../assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
}

html {
  font-size: 16px;
}

/* DO NOT REMOVE THE CODE ABOVE */

/* /-----------------------SIDE BAR -------------------------/ */
:root {
  /* General */
  --svg-color: #a9a9a9;
  /* light mode */
  --lm-sidebar-bg-color: #22074a;
  --lm-active-menu-bg-color: #ffffff;
  --lm-active-menu: rgba(34, 32, 32, 0.9);

  /* dark mode */
  --dm-sidebar-bg-color: #1f201f;
  --dm-active-menu: #fffcfc;
  --dm-active-menu-bg-color: #373737;
}

.light-body {
  background-color: #dad9d9;
}
.dark-body {
  background-color: #222020;
}
/*/------------------- GENERAL CSS FOR SIDEBAR -------------------/*/
.settings {
  display: flex;
}
.sidebar-nav {
  width: 20vw;
  min-width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 4vh 0 0 0;
}

.nav-link-container {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  width: 75%;
  margin: auto;
}

.nav-link-container a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 19px;
  padding: 1.7vh 1vw;
  border-radius: 12px;
  transition: all 0.2s ease;
}

header {
  margin: auto;
}

.prof-pic {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.menu-link {
  padding: 1.7vh 1vw;
}

svg {
  color: var(--svg-color);
}

/*/-------------------LIGHT MODE CSS FOR SIDEBAR  -------------------/*/

.light-sidebar-nav {
  background-color: var(--lm-sidebar-bg-color);
}

.light-nav-link-container a:hover {
  background-color: var(--lm-active-menu-bg-color);
  color: var(--lm-active-menu);
  border-radius: 12px;
  padding: 1.7vh 1vw;
}

.light-nav-link-container a:hover svg {
  color: var(--lm-active-menu);
}

a.light-active-menu {
  background-color: var(--lm-active-menu-bg-color);
  border-radius: 12px;
  padding: 1.7vh 1vw;
}

a.light-active-menu svg {
  color: var(--lm-active-menu);
}

/*/-------------------DARK MODE CSS FOR SIDEBAR  -------------------/*/

.dark-sidebar-nav {
  background-color: var(--dm-sidebar-bg-color);
  background-image: url("../../../assets/icons/worldwide-location.svg"),
    url("../../../assets/icons/chat-room.svg"),
    url("../../../assets/icons/worldwide-location.svg"),
    url("../../../assets/icons/video-conference.svg"),
    url("../../../assets/icons/chat-room.svg"),
    url("../../../assets/icons/video-conference.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-position: top 56px right 92px, top 198px right 18px,
    top 395px right 250px, top 450px right 18px, top 547px right 160px,
    top 789px right 231px;
}

.dark-nav-link-container a:hover {
  color: var(--dm-active-menu);
  background-color: var(--dm-active-menu-bg-color);
  border-radius: 12px;
  padding: 1.7vh 1vw;
}

.dark-nav-link-container a:hover svg {
  color: var(--dm-active-menu);
}

a.dark-active-menu {
  background-color: var(--dm-active-menu-bg-color);
  border-radius: 12px;
  padding: 1.7vh 1vw;
}

a.dark-active-menu svg {
  color: var(--dm-active-menu);
}

/* ------------------------------------texts styes --------------------------- */
/* NAVBAR */
.light-nav-texts {
  color: rgba(169, 169, 169, 0.9);
  font-family: poppins-regular;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Dark-nav-texts {
  color: #a9a9a9;
  font-family: Rubik;
  font-size: 1rem;
  font-weight: 500;
}

.dark-nav-texts-active {
  color: #fffcfc;
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
}
.light-nav-texts-active {
  color: rgba(34, 32, 32, 0.9);
  font-family: Poppins-regular;
  font-size: 1rem;
  font-weight: 700;
}
/* <-------------MAIN BODY TEXTS---------------> */
.dark-menu-title-texts {
  color: #0389e1;
  font-family: Poppins-bold;
  font-size: .9rem;
  font-weight: 600;
}
.light-menu-title-texts {
  color: #150aa1;
  font-family: Poppins-bold;
  font-size: .9rem;
  font-weight: 600;
}
.light-setting-title-text {
  color: #150aa1;
  font-family: Poppins-bold;
  font-size: .9rem;
  font-weight: 500;
}
.dark-setting-title-text {
  color: #0389e1;
  font-family: Poppins-bold;
  font-size: .9rem;
  font-weight: 500;
}
.dark-setting-subtitle-text {
  color: #979797;
  font-family: Poppins-medium;
  font-size: .9rem;
  font-weight: 400;
}

.light-setting-subtitle-text {
  color: #000;
  font-family: Poppins-medium;
  font-size: .9rem;
  font-weight: 400;
}

.light-change-background-text {
  color: #000;
  font-family: Poppins-regular;
  font-size: .9rem;
  font-weight: 400;
}
.dark-change-background-text {
  color: #fffcfc;
  font-family: Poppins-regular;
  font-size: .9rem;
  font-weight: 400;
}
.dark-audio-subtitle-text {
  color: #fffcfc;
  font-family: Poppins-medium;
  font-size: .9rem;
  font-weight: 400;
}
.light-audio-subtitle-text {
  color: #373737;
  font-family: Poppins-medium;
  font-size: .9rem;
  font-weight: 400;
}

.audio-default-setting-text {
  color: #585858;
  font-family: Poppins-regular;
  font-size: .9rem;
  font-weight: 400;
}
.light-current-mode-text {
  color: rgba(34, 32, 32, 0.9);
  font-family: Poppins-regular;
  font-size: .9rem;
  font-weight: 500;
}
.dark-current-mode-text {
  color: #a9a9a9;
  font-family: Poppins-regular;
  font-size: .9rem;
  font-weight: 500;
}

/* <-------   STYLES FOR LIGHT MODE SETTINGS PAGE --------> */

.mainbody {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.light-mainbody h4 {
  margin-left: 10px;
}

.light-mainbody p {
  line-height: 35px;
  margin-left: 20px;
  margin-top: 5px;
}

.horizontal-line {
  margin: 8px 20px 0px 0px;
  border-bottom: 1px solid #979797;
}

.horizontal-line1 {
  margin: 10px 0px 15px 0px;
  border-bottom: 1px solid #979797;
}

section {
  margin: 0px 20px 0px 0px;
}

.camera-settings,
.audio-settings,
.audio-settings1,
.speaker,
.colour {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.camera-right-text p,
.audio-settings-right-text p,
.speaker-right-text {
  color: #585858;
}

.camera-preview {
  display: flex;
  gap: 3vw;
}

.camera-preview1 {
  width: 35vw;
  height: 250px;
  background-color: #fff;
  border-radius: 5px;
}

.camera-preview-right {
  display: grid;
  gap: 14px;
  grid-template-columns: auto auto;
}

.camera-preview2 p {
  margin-top: 0px;
  margin-left: 0;
  line-height: 30px;
}

.camera-preview3 {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.mode {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.container {
  margin: 0px 0px 5px 0px;
  display: block;
  position: relative;
  padding: 5px 0px 0px 30px;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 550;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .........Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ..........Create a custom checkbox */
.checkmark {
  position: absolute;
  background-color: #dad9d9;
  border: 0.1px solid rgba(0, 0, 0);
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 20px;
}
.checkmark2 {
  position: absolute;
  background-color: #dad9d9;
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 20px;
}

/* ......When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark,
.container input:checked ~ .checkmark2 {
  background-color: #150aa1;
  border: none;
}

/* ...........Create the checkmark/indicator (hidden when not checked) */
.checkmark:after,
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* ...........Show the checkmark when checked */
.container input:checked ~ .checkmark:after,
.container input:checked ~ .checkmark2:after {
  display: block;
}

/* ..........Style the checkmark/indicator */
.container .checkmark:after,
.container .checkmark2:after {
  left: 8px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* <------DARK MODE FOR SETTINGS PAGE ------> */
.dark-mainbody {
  height: 100vh;
  background-color: #585858;
}
.checkmark {
  background-color: #dad9d9;
  border: 0.1px solid rgba(0, 0, 0);
}
.checkmark2 {
  background-color: rgba(218, 217, 217, 0.5);
  border: 0.1px solid rgba(0, 0, 0, 0.5);
}

/*-------Start of Toggle Switch Key-----------------*/

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 14px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c7f9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -3.1px;
  background-color: #a9a9a9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider:before {
  background-color: #150aa1;
  /* border: solid 2px white; */
}

input:focus + .slider {
  box-shadow: 0 0 1px #c7c7f9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {

  html {
    font-size: 12px;
  }

}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  html {
    font-size: 12px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
/*-------END---------*/
