/* This removes padding & margin from every container */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* text styles */
@font-face {
  font-family: poppins-bold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../../assets/fonts/Rubik-VariableFont_wght.ttf);
}

html {
  font-size: 16px;
}

/*                scrollBar           */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: radial-gradient(circle at -65% -65%, rgb(130, 6, 225), #22074a);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #14042c;
}

/* DO NOT REMOVE THE CODE ABOVE */

.light-body {
  background-color: #dad9d9;
}
.dark-body {
  background-color: #222020;
}

body {
  user-select: none;
}

.settings {
  display: flex;
}

/* ------------------------------------texts styes --------------------------- */

/* <-------------MAIN BODY TEXTS---------------> */
.menu-title-texts {
  font-family: Poppins-bold;
  font-size: 0.9rem;
  font-weight: 600;
}

.setting-title-text {
  font-family: Poppins-bold;
  font-size: 0.9rem;
  font-weight: 500;
}

.setting-subtitle-text {
  font-family: Poppins-medium;
  font-size: 0.9rem;
  font-weight: 400;
}

.change-background-text {
  font-family: Poppins-regular;
  font-size: 0.9rem;
  font-weight: 400;
}

.audio-subtitle-text {
  font-family: Poppins-medium;
  font-size: 0.9rem;
  font-weight: 400;
}

.audio-default-setting-text {
  color: #585858;
  font-family: Poppins-regular;
  font-size: 0.9rem;
  font-weight: 400;
}

.current-mode-text {
  font-family: Poppins-regular;
  font-size: 0.9rem;
  font-weight: 500;
}

/* <-------   STYLES FOR LIGHT MODE SETTINGS PAGE --------> */

.mainbody {
  margin-top: 38px;
  width: 100%;
  overflow-y: auto;
}

.mainbody h4 {
  margin-left: 10px;
}

.mainbody p {
  line-height: 35px;
  margin-left: 20px;
  margin-top: 5px;
}

.horizontal-line {
  margin: 8px 20px 0px 0px;
  border-bottom: 1px solid #979797;
}

.horizontal-line1 {
  margin: 10px 0px 15px 0px;
  border-bottom: 1px solid #979797;
}

section {
  margin: 0px 20px 0px 0px;
}

.camera-settings,
.audio-settings,
.audio-settings1,
.speaker,
.colour {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.camera-right-text p,
.audio-settings-right-text p,
.speaker-right-text {
  color: #585858;
}

.camera-preview {
  display: flex;
  gap: 3vw;
}

.camera-preview1 {
  width: 35vw;
  height: 250px;
  background-color: #fff;
  border-radius: 5px;
}

.camera-preview-right {
  display: grid;
  gap: 14px;
  grid-template-columns: auto auto;
}

.camera-preview2 p {
  margin-top: 0px;
  margin-left: 0;
  line-height: 30px;
}

.camera-preview3 {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.mode {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.mode-item {
  display: flex;
  gap: 3vw;
}
.container {
  margin: 0px 0px 5px 0px;
  display: block;
  position: relative;
  padding: 5px 0px 0px 30px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 550;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .........Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ..........Create a custom checkbox */
.checkmark {
  position: absolute;
  background-color: #dad9d9;
  border: 0.1px solid rgba(0, 0, 0);
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 20px;
}
.checkmark2 {
  position: absolute;
  background-color: #dad9d9;
  border: 0.1px solid rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 20px;
}

/* ......When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark,
.container input:checked ~ .checkmark2 {
  background-color: #150aa1;
  border: none;
}

/* ...........Create the checkmark/indicator (hidden when not checked) */
.checkmark:after,
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* ...........Show the checkmark when checked */
.container input:checked ~ .checkmark:after,
.container input:checked ~ .checkmark2:after {
  display: block;
}

/* ..........Style the checkmark/indicator */
.container .checkmark:after,
.container .checkmark2:after {
  left: 8px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* <------DARK MODE FOR SETTINGS PAGE ------> */
.checkmark {
  background-color: #dad9d9;
  border: 0.1px solid rgba(0, 0, 0);
}
.checkmark2 {
  background-color: rgba(218, 217, 217, 0.5);
  border: 0.1px solid rgba(0, 0, 0, 0.5);
}

/*-------Start of Toggle Switch Key-----------------*/

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 14px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c7f9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -3.1px;
  background-color: #a9a9a9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider:before {
  background-color: #150aa1;
  /* border: solid 2px white; */
}

input:focus + .slider {
  box-shadow: 0 0 1px #c7c7f9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mode {
    display: block;
  }
  .mode h4 {
    margin-bottom: 10px;
  }
  .mode-item {
    margin-left: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  html {
    font-size: 12px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
/*-------END---------*/


.cs-sections > section {
  padding: 0vh 0;
  display: flex;
  justify-content: space-between;
}
.cs-sections > section > span {
  display: flex;
  align-items: center;
  gap: 1px;
  color: #979797;
  font-family: Poppins-medium;
  font-size: 0.9rem;
  font-weight: 400;
}

.cs-sections > section > span > .light-arrow-svg,
.cs-sections > section > span > .dark-arrow-svg {
  width: 21px;
  height: 14px;
}

.cs-sections > section:nth-child(4) > span > .light-arrow-svg {
  margin-right: 8px;
}

.cs-sections > section:nth-child(5) > span > .light-arrow-svg {
  transform: rotate(90deg);
}

.cs-sections > section:last-child {
  border: none;
}

@media (prefers-color-scheme: dark) {
  .mainbody{
    background-color: #222020;
  }
  .menu-title-texts {
    color: #0389e1;
  }
  .setting-title-text {
    color: #0389e1;
  }
  .setting-subtitle-text {
    color: white;
  }
  .change-background-text {
    color: #fffcfc;
  }
  .current-mode-text {
    color: #a9a9a9;
  }
  
}

@media (prefers-color-scheme: light) {
  .mainbody{
    background-color: #dad9d9;
  }
  .current-mode-text {
    color: rgba(34, 32, 32, 0.9);
  }
}
