/* This removes padding & margin from every container */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: poppins-bold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../../assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
}
/* DO NOT REMOVE THE CODE ABOVE */

/* -----------------------------one time passcode------------------------- */
.startup-body {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 0;
}
.light-startUp-container {
  background: #fff;
  height: 512px;
  width: 561px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  border-radius: 20px;
}
.dark-startUp-container {
  background: rgba(31, 32, 31, 0.9);
  height: 100vh;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.startUp-content-wallaper {
  width: 495px;
  height: 467px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  padding: 28px 39px 17px 27px;
}
.input-container {
  display: flex;
  gap: 14px;
}
.verify-btn {
  display: flex;
  width: 388px;
  padding: 10px 94px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #9897fb;
  border: none;
}

.lets-go-btn {
  display: flex;
  width: 342px;
  padding: 10px 94px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #1376e3;
  border: none;
}

.input-container input {
  width: 52px;
  height: 65.333px;
  border-radius: 5px;
  border: 1px solid #9c9b9b;
  outline: none;
}
.exit {
  position: absolute;
  top: 30px;
  right: 50px;
  cursor: pointer;
}
.back {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #979797;
  font-family: poppins-medium;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/*--------------------------- set up shareAm----------------- */

/* --------------------texts -------------------------- */
.dark-create-acc-title-txt {
  color: #fff;
  font-family: Poppins-regular;
  font-size: 24px;
  font-weight: 700;
}
.light-create-acc-title-txt {
  color: #000;
  font-family: Poppins-regular;
  font-size: 24px;
  font-weight: 700;
}

.dark-one-time-subtitle-txt {
  color: #a9a9a9;
  font-family: Poppin-regular;
  font-size: 14px;
  font-weight: 400;
}
.light-one-time-subtitle-txt {
  color: rgba(0, 0, 0, 0.52);
  font-family: Poppin-regular;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.one-time-btn-txt {
  color: #303030;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}
.one-time-subtitle-txt span {
  color: #585858;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 500;
}
.one-time-subtitle-txt strong {
  color: #0272bc;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 400;
}
/*----------------- set up--------- */
.dark-startUp-title-txt {
  color: #fff;
  text-align: center;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}
.light-startUp-title-txt {
  color: #000;
  text-align: center;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 700;
}

.get-started-btn {
  display: flex;
  width: 388px;
  padding: 10px 94px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  background: #9897fb;
  border: none;
}

.dark-startUp-subtitle-txt {
  color: #a9a9a9;
  text-align: center;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 500;
}
.light-startUp-subtitle-txt {
  color: rgba(34, 32, 32, 0.9);
  text-align: center;
  font-family: Poppins-regular;
  font-size: 14px;
  font-weight: 500;
}

.dark-startup-btn-txt {
  color: #fff;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 600;
}
.light-startup-btn-txt {
  color: #303030;
  font-family: Poppins-regular;
  font-size: 16px;
  font-weight: 600;
}
