/* This removes padding & margin from every container */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  @font-face {
    font-family: poppins-bold;
    src: url(../../../assets/fonts/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: poppins-regular;
    src: url(../../../assets/fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: poppins-medium;
    src: url(../../../assets/fonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: Rubik;
    src: url(../../../assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
  }
  /* DO NOT REMOVE THE CODE ABOVE */

  /* -----------------------------one time passcode------------------------- */
.light-startUp-container {
    background: #fff;
    height: 100vh;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}
  .dark-startUp-container{
    background: rgba(31, 32, 31, 0.90);
    height: 100vh;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  
  .startUp-content-wallaper {
    width: 571px;
    height: 366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
  }
  .input-container {
    display: flex;
    gap: 14px;
  }
  .input-container input {
    width: 52px;
    height: 65.333px;
    border-radius: 5px;
    border: 1px solid #9C9B9B;
    outline: none;
  }
.exit {
    position: absolute;
    top: 30px ;
    right: 50px;
    cursor: pointer;
}
.back {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: #979797;
    font-family: poppins-medium;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.light-progress {
    display: flex;
    align-items: center;
}

.light-progress 
span:nth-child(1), 
span:nth-child(3), 
span:nth-child(5) {
    width: 15px;
    height: 15px;
    border: 2px solid #222020E5;
    border-radius: 50%;
}
.dark-progress 
span:nth-child(1), 
span:nth-child(3), 
span:nth-child(5) {
    width: 15px;
    height: 15px;
    border: 2px solid #A9A9A9;
    border-radius: 50%;
}
.light-progress 
span:nth-child(1) {
    border: 2px solid #1058E8;
}
.light-progress 
span:nth-child(2), 
span:nth-child(4) {
    width: 30px;
    border-top : 2px solid #000;
}
/*--------------------------- set up shareAm----------------- */


  /* --------------------texts -------------------------- */
.dark-create-acc-title-txt {
    color: #FFF;
    font-family: Poppins-regular;
    font-size: 24px;
    font-weight: 700;
}
.light-create-acc-title-txt {
    color: #000;
    font-family: Poppins-regular;
    font-size: 24px;
    font-weight: 700;
}

.dark-one-time-subtitle-txt {
    color: #A9A9A9;
    font-family: Poppin-regular;
    font-size: 14px;
    font-weight: 400;
}
.light-one-time-subtitle-txt {
    color: rgba(0, 0, 0, 0.52);
    font-family: Poppin-regular;
    font-size: 14px;
    font-weight: 400;
}

.one-time-btn-txt {
    color: #303030;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}
.one-time-subtitle-txt  span{
    color: #585858;
    font-family: Poppins-regular;
    font-size: 14px;
    font-weight: 500;
}
.one-time-subtitle-txt  strong {
    color: #0272BC;
    font-family: Poppins-regular;
    font-size: 14px;
    font-weight: 400;

}
/*----------------- set up--------- */
.dark-startUp-title-txt {
    color: #FFF;
    text-align: center;
    font-family: Poppins-regular;
    font-size: 16px;
    font-weight: 700;
}
.light-startUp-title-txt {
    color: #000;
    text-align: center;
    font-family: Poppins-regular;
    font-size: 16px;
    font-weight: 700;
}

.dark-startUp-subtitle-txt {
    color: #A9A9A9;
    text-align: center;
    font-family: Poppins-regular;
    font-size: 14px;
    font-weight: 500;
 }
.light-startUp-subtitle-txt {
    color: rgba(34, 32, 32, 0.90);
    text-align: center;
    font-family: Poppins-regular;
    font-size: 14px;
    font-weight: 500;
}

.dark-startup-btn-txt {
    color: #FFF;
    font-family: Poppins-regular;
    font-size: 16px;
    font-weight: 600;
}
.light-startup-btn-txt {
    color: #303030;
    font-family: Poppins-regular;
    font-size: 16px;
    font-weight: 600;
}

