/* This removes padding & margin from every container */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  @font-face {
    font-family: poppins-bold;
    src: url(../../../assets/fonts/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: poppins-regular;
    src: url(../../../assets/fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: poppins-medium;
    src: url(../../../assets/fonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: Rubik;
    src: url(../../../assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
  }
  /* DO NOT REMOVE THE CODE ABOVE */
body {
    background: #f1f1f1;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
.setting-modal-body {
    width: 383px;
    height: 208px;
    border-radius: 10px;
    background: #FFF;
    padding: 7px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.setting-modal-container h1 {
    color: rgba(21, 10, 161, 0.80);
    font-family: Poppins-bold;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 2px;
}
.setting-modal-container > div  {
    display: flex;
    justify-content: space-between;
}
.setting-modal-container span  {
    display: flex;
    align-items: center;
    gap: 10px;
}
.setting-modal-container p {
    color: #373737;
    font-family: Poppins-medium;
    font-size: 12px;
    font-weight: 500;
}
.controll-txt {
    color: #000 !important;
}
.setting-modal-container h2{
    color: #373737;
    font-family: Poppins-medium;
    font-size: 14px;
    font-weight: 600;
    padding-top: 2px;
}

/*-----NOTIFICATION BOX CSS----------- */

.notification-container {
  width: 546px;
  height: 585.013px;
  background: linear-gradient(to bottom, #5b4971 0%, black);
  backdrop-filter: blur(3px);
  margin-top: 50px;
}
.notification-section1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 291px;
}

.notification-section1-div1-left {
  color: #fff;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 25px;
}

.notification-section1-div1-left p {
  margin-top: 0px;
}

.notification-section1-div1-right {
  width: 43px;
  height: 45px;
  background: url(<path-to-image>) / contain no-repeat;
  margin-top: 30px;
}

.notification-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.notification-section2-span {
  color: #fff;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}

.notification-section2 p {
  width: 314px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
